<template>
  <v-dialog
    v-model="invite.dialog"
    fullscreen
    persistent
    no-click-animation
    transition="dialog-bottom-transition"
  >
    <v-card>
      <back-bar title="Invite a friend" />
      <v-divider />

      <v-container>
        <v-row>
          <v-col>
            <div v-if="object" class="text-center">
              <h2>{{ object.city.name }} is better with friends!</h2>
              <p>
                Know someone who might be interested in going to {{ object.city.ascii_name }}?
                Enter an email address below and we will send an invitation on your behalf.
              </p>
            </div>
            <v-card
              :loading="invite.loading"
              elevation="10"
            >
              <v-list-item class="pr-2">
                <v-list-item-avatar>
                  <v-img :src="$auth.user.account.image_src" />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-text-field
                    ref="inviteEmailField"
                    v-model="invite.email"
                    @keypress.enter="inviteFriend"
                    prepend-inner-icon="mdi-email"
                    label="Email address"
                    outlined
                    hide-details
                  />
                </v-list-item-content>
              </v-list-item>

              <v-card-actions class="d-flex">
                <v-btn
                  :loading="invite.loading"
                  @click="inviteFriend"
                  color="primary"
                >
                  Invite
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'
import BackBar from '~/components/BackBar.vue'

export default {
  components: { BackBar },
  data () {
    return {
      invite: {
        dialog: false,
        loading: false,
        email: '',
      },
    }
  },
  computed: {
    ...mapState('group', [
      'object',
    ]),
  },
  mounted () {
    if (this.object == null) {
      return this.$router.push('/')
    }
    this.invite.dialog = true
  },
  methods: {
    inviteFriend () {
      if (this.invite.email === '') {
        this.$snack.queue('Enter a valid email address.')
        this.$refs.inviteEmailField.$refs.input.focus()
        return
      }
      this.invite.loading = true
      this.$axios.post('/api/main/invitation/create/', {
        group: this.object.id,
        created_by: this.$auth.user.account.id,
        to_email: this.invite.email,
      }).then((response) => {
        this.invite.email = ''
        this.invite.loading = false
        this.$snack.success('Invitation sent')
        this.$router.go('-1')
      }).catch((error) => {
        _.each(error.response.data, (value, key) => {
          _.each(value, (message) => {
            this.$snack.error(message)
          })
        })
        this.$refs.inviteEmailField.$refs.input.focus()
        this.invite.loading = false
      })
    },
  },
}
</script>
