<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    persistent
    no-click-animation
    transition="dialog-bottom-transition"
  >
    <v-card>
      <back-bar title="Post a ride share" />
      <v-divider />

      <v-container>
        <v-row>
          <v-col>
            <div v-if="object" class="text-center">
              <h2>Going by car to {{ object.city.name }}?</h2>
              <p>
                Share your ride to cut down on travel costs.
              </p>
            </div>
            <v-card
              @keydown.enter="post"
              :loading="loading"
              elevation="10"
            >
              <v-list-item class="pr-2">
                <v-list-item-avatar>
                  <v-img :src="$auth.user.account.image_src" />
                </v-list-item-avatar>
                <v-list-item-content>
                  <autocomplete-city
                    ref="startsFrom"
                    label="Type departure city"
                    outlined
                  />
                </v-list-item-content>
              </v-list-item>
              <v-card-text class="px-2 py-0">
                <v-row dense>
                  <v-col>
                    <v-text-field
                      ref="availableSeatsField"
                      v-model="availableSeats"
                      hide-details
                      label="Available seats"
                      max="7"
                      min="1"
                      outlined
                      prepend-inner-icon="mdi-car-seat"
                      type="number"
                    >
                      <template v-slot:append>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">
                              mdi-help-circle-outline
                            </v-icon>
                          </template>
                          <span>How many seats are available in your car?</span>
                        </v-tooltip>
                      </template>
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col cols="6">
                    <v-autocomplete
                      ref="carMakeField"
                      v-model="carMake"
                      :items="proposalRideChoices.makes"
                      hide-details
                      hide-no-data
                      item-text="label"
                      label="Car make"
                      outlined
                      prepend-inner-icon="mdi-car"
                      return-object
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-autocomplete
                      ref="carTypeField"
                      v-model="carType"
                      :items="proposalRideChoices.types"
                      hide-details
                      hide-no-data
                      item-text="label"
                      label="Car type"
                      outlined
                      prepend-inner-icon="mdi-car-limousine"
                      return-object
                    />
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col cols="12">
                    <v-autocomplete
                      ref="carFeaturesField"
                      v-model="carFeatures"
                      :items="proposalRideChoices.features"
                      hide-details
                      hide-no-data
                      item-text="label"
                      label="Car features"
                      multiple
                      outlined
                      prepend-inner-icon="mdi-airbag"
                      return-object
                      small-chips
                    />
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col cols="6">
                    <v-text-field
                      ref="priceField"
                      v-model="price"
                      hide-details
                      label="Price per ride"
                      min="1"
                      outlined
                      prepend-inner-icon="mdi-cash"
                      type="number"
                    >
                      <template v-slot:append>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">
                              mdi-help-circle-outline
                            </v-icon>
                          </template>
                          <span>
                            This should be the price per traveled distance and it should include gas cost, road tolls and other related costs.
                          </span>
                        </v-tooltip>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-select
                      ref="currencyField"
                      v-model="currency"
                      :items="currencies"
                      hide-details
                      item-text="id"
                      label="Select currency"
                      outlined
                      return-object
                    />
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  :loading="loading"
                  @click="post"
                  color="primary"
                >
                  Post
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'
import AutocompleteCity from '~/components/AutocompleteCity.vue'
import BackBar from '~/components/BackBar.vue'

export default {
  components: {
    AutocompleteCity,
    BackBar,
  },
  data () {
    return {
      dialog: false,
      loading: false,

      // startsFrom inside autocomplete-city component
      availableSeats: '',
      carMake: null,
      carType: null,
      carFeatures: [],

      price: '',
      currency: null,
    }
  },
  computed: {
    ...mapState([
      'currencies',
    ]),
    ...mapState('group', [
      'object',
      'members',
      'proposalRideChoices',
    ]),
  },
  mounted () {
    if (this.object == null) {
      return this.$router.push('/')
    }
    this.currency = this.currencies[0]
    this.dialog = true
  },
  methods: {
    post () {
      if (this.$refs.startsFrom.city == null) {
        this.$snack.queue('Enter your departure location')
        this.$refs.startsFrom.$refs.autocomplete.$refs.input.focus()
        return
      }
      if (this.availableSeats === '') {
        this.$snack.queue('Provide the number of available seats')
        this.$refs.availableSeatsField.$refs.input.focus()
        return
      }
      if (this.carMake == null) {
        this.$snack.queue('Please select your car make')
        this.$refs.carMakeField.$refs.input.focus()
        return
      }
      if (this.carType == null) {
        this.$snack.queue('Tell us what kind of car is that')
        this.$refs.carTypeField.$refs.input.focus()
        return
      }
      if (this.price === '') {
        this.$snack.queue('You need to provide the total price')
        this.$refs.priceField.$refs.input.focus()
        return
      }
      if (this.currency == null) {
        this.$snack.queue('Please select a currency')
        this.$refs.currencyField.$refs.input.focus()
        return
      }

      this.loading = true

      this.$axios.post('/api/main/proposal/ride/create/', {
        group: this.object.id,
        created_by: this.$auth.user.account.id,
        starts_from: this.$refs.startsFrom.city.id,
        available_seats: this.availableSeats,
        make: this.carMake.id,
        type: this.carType.id,
        features: _.map(this.carFeatures, (feature) => { return feature.id }),
        price: this.price,
        currency: this.currency.id,
      }).then((response) => {
        this.$socket.sendObj({
          data: {
            groupId: this.object.id,
            action: response.data,
          },
          account_ids: _.keys(this.members),
          action: 'streamActionCreated',
          namespace: 'group',
        })

        this.$snack.success('Ride share posted')
        this.$router.go(-1)
      }).catch((error) => {
        _.each(error.response.data, (value, key) => {
          _.each(value, (errorMessage) => {
            this.$snack.error(errorMessage)
            this.loading = false
          })
        })
      })
    },
  },
}
</script>
