<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    persistent
    no-click-animation
    transition="dialog-bottom-transition"
  >
    <v-card>
      <back-bar title="Post an accommodation" />
      <v-divider />

      <v-container>
        <v-row>
          <v-col>
            <div v-if="object" class="text-center">
              <h2>Stay together and have more fun</h2>
              <p>
                Share your stay to either get a better villa or cut down on your travel costs. Post a link to your find.
              </p>
            </div>
            <v-card
              @keydown.enter="post"
              :loading="loading"
              elevation="10"
            >
              <v-list-item class="pr-2">
                <v-list-item-avatar>
                  <img :src="$auth.user.account.image_src">
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-text-field
                    ref="urlField"
                    v-model="url"
                    hide-details
                    label="Paste a link"
                    outlined
                    prepend-inner-icon="mdi-link"
                  />
                </v-list-item-content>
              </v-list-item>
              <v-card-text class="px-2 py-0">
                <v-row dense>
                  <v-col>
                    <v-text-field
                      ref="availableSpotsField"
                      v-model="availableSpots"
                      hide-details
                      label="Available spots"
                      max="20"
                      min="1"
                      outlined
                      prepend-inner-icon="mdi-seat-individual-suite"
                      type="number"
                    >
                      <template v-slot:append>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">
                              mdi-help-circle-outline
                            </v-icon>
                          </template>
                          <span>How many spots are available for this accommodation?</span>
                        </v-tooltip>
                      </template>
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col cols="6">
                    <v-text-field
                      ref="priceField"
                      v-model="price"
                      hide-details
                      label="Price per night"
                      min="1"
                      outlined
                      prepend-inner-icon="mdi-cash"
                      type="number"
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-select
                      ref="currencyField"
                      v-model="currency"
                      :items="currencies"
                      hide-details
                      item-text="id"
                      label="Select currency"
                      outlined
                      return-object
                    />
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  :loading="loading"
                  @click="post"
                  color="primary"
                >
                  Post
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'
import BackBar from '~/components/BackBar.vue'

export default {
  components: {
    BackBar,
  },
  data () {
    return {
      dialog: false,
      loading: false,
      url: '',
      availableSpots: '',
      price: '',
      currency: null,
      urlData: {},
    }
  },
  computed: {
    ...mapState([
      'currencies',
    ]),
    ...mapState('group', [
      'object',
      'members',
    ]),
  },
  mounted () {
    if (this.object == null) {
      return this.$router.push('/')
    }
    this.currency = this.currencies[0]
    this.dialog = true
  },
  methods: {
    post () {
      this.loading = true

      if (this.url === '') {
        this.$snack.queue('Paste a link to a hotel, apartment or some other stay')
        this.$refs.urlField.$refs.input.focus()
        this.loading = false
        return
      }
      if (this.availableSpots === '' || this.availableSpots <= 0) {
        this.$snack.queue('Provide the number of available spots for this accommodation')
        this.$refs.availableSpotsField.$refs.input.focus()
        this.loading = false
        return
      }
      if (this.price === '' || this.price <= 0) {
        this.$snack.queue('You need to provide the price per night')
        this.$refs.priceField.$refs.input.focus()
        this.loading = false
        return
      }
      if (this.currency === '') {
        this.$snack.queue('Please select a currency')
        this.$refs.currencyField.$refs.input.focus()
        this.loading = false
        return
      }

      this.$axios.post('/api/main/proposal/stay/create/', {
        available_spots: this.availableSpots,
        created_by: this.$auth.user.account.id,
        currency: this.currency.id,
        group: this.object.id,
        price: this.price,
        url: this.url,
        url_data: this.urlData,
      }).then((response) => {
        this.$socket.sendObj({
          data: {
            groupId: this.object.id,
            action: response.data,
          },
          account_ids: _.keys(this.members),
          action: 'streamActionCreated',
          namespace: 'group',
        })

        this.$snack.success('Accommodation proposal posted')
        this.$router.go(-1)
      }).catch((error) => {
        _.each(error.response.data, (value, key) => {
          _.each(value, (errorMessage) => {
            this.$snack.error(errorMessage)
            this.loading = false
          })
        })
      })
    },
  },
}
</script>
