<template>
  <v-container class="pt-0">
    <back-bar :title="object && object.name" />
    <upcoming-trips
      :url="`/api/main/explore/interest/${this.$route.params.slug}/group/list/`"
    />
  </v-container>
</template>
<script>
import BackBar from '~/components/BackBar.vue'
import UpcomingTrips from '~/components/UpcomingTrips.vue'

export default {
  name: 'ExploreInterestDetail',
  components: {
    BackBar,
    UpcomingTrips,
  },
  data () {
    return {
      object: null,
    }
  },
  beforeMount () {
    this.object = this.getInterestBySlug(this.$route.params.slug)
  },
  methods: {
    getInterestBySlug (slug) {
      let interest
      _.each(this.$store.state.interests, (i) => {
        if (i.slug === slug) {
          interest = i
          return false
        }
      })
      return interest
    },
  },
}
</script>
