<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="8">
        <v-card v-if="object" class="mb-6">
          <unsplash-image :image="object.image" aspect-ratio="2" credits-visible />
          <v-list-item>
            <div class="text-center ml-1 mt-2 mr-4">
              <div class="">
                {{ object.starts_at|formatDate("Do") }}
              </div>
              <div class="title font-weight-bold red--text text--darken-4">
                {{ object.starts_at|formatDate("MMM")|upper }}
              </div>
            </div>
            <v-list-item-content class="py-0">
              <v-list-item-title class="title">
                {{ object.name }}
              </v-list-item-title>
              <v-list-item-subtitle>
                Created by
                <v-avatar size="20">
                  <v-img :src="object.created_by.image_src" />
                </v-avatar>
                {{ object.created_by.user.get_full_name }}
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-menu
                v-model="dotsMenu"
                :close-on-content-click="false"
                offset-y
                nudge-left="164"
              >
                <template v-slot:activator="{ on }">
                  <v-btn v-on="on" icon>
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>
                <v-list width="200">
                  <v-list-item
                    v-if="$auth.user.account.id == object.created_by.id"
                    @click="edit.dialog = true"
                  >
                    <v-list-item-title>
                      <v-icon left>
                        mdi-square-edit-outline
                      </v-icon>
                      Edit
                    </v-list-item-title>
                    <v-dialog v-model="edit.dialog" max-width="600px">
                      <v-card :loading="edit.loading">
                        <v-list-item>
                          <v-list-item-content>
                            <v-card-title class="px-2">
                              Edit group
                            </v-card-title>
                          </v-list-item-content>
                          <v-list-item-action>
                            <v-btn @click.stop="edit.dialog = false" icon>
                              <v-icon>mdi-close</v-icon>
                            </v-btn>
                          </v-list-item-action>
                        </v-list-item>

                        <v-card-text>
                          <v-text-field
                            ref="groupName"
                            v-model="edit.groupName"
                            class="mb-4"
                            hide-details
                            label="Name"
                            outlined
                            prepend-icon="mdi-card-text-outline"
                          />
                          <v-file-input
                            ref="groupImage"
                            accept="image/*"
                            chips
                            label="Image"
                            outlined
                            show-size
                          />
                        </v-card-text>
                        <v-divider />
                        <v-card-actions>
                          <v-spacer />
                          <v-btn
                            @click="editGroup"
                            :loading="edit.loading"
                            color="primary"
                          >
                            Edit
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-list-item>
                  <v-list-item-report :group-id="object.id" />
                </v-list>
              </v-menu>
            </v-list-item-action>
          </v-list-item>

          <v-list-item>
            <v-list-item-avatar>
              <v-icon>mdi-map-marker</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>
                {{ object.city.display_name }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-avatar>
              <v-icon>mdi-calendar-clock</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>
                {{ object.starts_at|formatDate("MMMM Do") }}
                <v-icon>mdi-circle-small</v-icon>
                {{ object.ends_at|formatDate("MMMM Do") }}
              </v-list-item-title>
              <v-list-item-subtitle>
                <span v-if="object.duration_nights == 1">
                  1 night
                </span>
                <span v-else>
                  {{ object.duration_nights }} nights
                </span>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item :to="`/group/${object.slug}/${object.id}/members`" nuxt>
            <v-list-item-avatar>
              <v-icon>mdi-account-group</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <div class="d-flex">
                <v-avatar v-for="member in packMembersApproved(5)" :key="member.id" size="40">
                  <v-img v-if="member.account" :src="member.account.image_src" />
                  <v-avatar v-else color="grey darken-2">
                    <span class="white--text font-weight-bold caption">
                      +{{ member.packed }}
                    </span>
                  </v-avatar>
                </v-avatar>
              </div>
            </v-list-item-content>
          </v-list-item>

          <v-subheader>
            GROUP INTERESTS
          </v-subheader>

          <v-list-item>
            <v-slide-group>
              <v-slide-item
                v-for="interest in object.interests"
                :key="interest.id"
              >
                <v-chip class="ml-1">
                  <v-avatar left>
                    <v-img :src="interest.image.urls.thumb" />
                  </v-avatar>
                  {{ interest.name }}
                </v-chip>
              </v-slide-item>
            </v-slide-group>
          </v-list-item>
          <v-divider />
          <v-card-actions class="pa-4">
            <template v-if="requestUserIsPendingMember">
              <v-btn
                v-if="members[$auth.user.account.id].inviter_id"
                disabled
              >
                <!-- invited by some non admin member -->
                Pending
              </v-btn>
              <v-btn
                v-else
                disabled
              >
                <!-- requested to join without invitation -->
                Requested
              </v-btn>
            </template>
            <template v-else-if="!requestUserIsApprovedMember">
              <v-btn
                @click="requestToJoin"
                :loading="requestToJoinLoading"
                color="primary"
              >
                Join
              </v-btn>
            </template>
            <template v-else>
              <v-btn :to="`/group/${object.slug}/${object.id}/add`" nuxt color="primary">
                Add
              </v-btn>
            </template>
          </v-card-actions>
        </v-card>
        <template v-else>
          <v-skeleton-loader type="image" tile />
          <v-skeleton-loader type="list-item-avatar-two-line" />
          <v-skeleton-loader type="list-item-three-line" />
          <v-skeleton-loader type="chip" class="ml-2 mt-2" />
        </template>

        <div v-if="object">
          <template v-if="requestUserIsApprovedMember">
            <v-card v-if="membersPending.length" class="mb-6">
              <v-list ref="membersPending" dense subheader>
                <v-subheader>
                  REQUESTED TO JOIN
                </v-subheader>

                <v-list-item :to="`/group/${object.slug}/${object.id}/members-pending`" nuxt>
                  <v-list-item-avatar>
                    <v-icon>mdi-account-question</v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <div class="d-flex">
                      <v-avatar v-for="member in packMembersPending(5)" :key="member.id" size="40">
                        <v-img v-if="member.account" :src="member.account.image_src" />
                        <v-avatar v-else color="grey darken-2">
                          <span class="white--text font-weight-bold caption">
                            +{{ member.packed }}
                          </span>
                        </v-avatar>
                      </v-avatar>
                    </div>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>

            <group-proposal-stay-overview class="mb-6" />
            <group-proposal-ride-overview class="mb-6" />

            <!-- fab fixed -->
            <v-speed-dial
              v-model="fab"
              direction="top"
              fixed
              bottom
              right
              style="bottom: 72px;"
            >
              <template v-slot:activator>
                <v-btn
                  v-model="fab"
                  color="primary"
                  fab
                >
                  <v-icon v-if="fab">
                    mdi-close
                  </v-icon>
                  <v-icon v-else>
                    mdi-plus
                  </v-icon>
                </v-btn>
              </template>

              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    v-on="on"
                    :to="`/group/${object.slug}/${object.id}/add/stay`"
                    nuxt
                    color="pink"
                    dark
                    fab
                    small
                  >
                    <v-icon>mdi-hotel</v-icon>
                  </v-btn>
                </template>
                <span>Post an accommodation</span>
              </v-tooltip>

              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    v-on="on"
                    :to="`/group/${object.slug}/${object.id}/add/ride`"
                    nuxt
                    color="indigo"
                    fab
                    dark
                    small
                  >
                    <v-icon>mdi-car</v-icon>
                  </v-btn>
                </template>
                <span>Post a ride share</span>
              </v-tooltip>

              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    v-on="on"
                    :to="`/group/${object.slug}/${object.id}/add/friend`"
                    nuxt
                    color="light-green"
                    dark
                    fab
                    small
                  >
                    <v-icon>mdi-account</v-icon>
                  </v-btn>
                </template>
                <span>Invite a friend</span>
              </v-tooltip>
            </v-speed-dial>

            <action
              v-for="action in stream.results"
              :key="action.id"
              :action="action"
              class="mb-6"
            />
            <infinite-loading ref="streamInfinite" @infinite="streamInfinite" class="mt-4">
              <div slot="spinner">
                <v-card>
                  <v-skeleton-loader type="list-item-avatar-three-line" />
                  <v-skeleton-loader type="card" />
                </v-card>
              </div>
              <div slot="no-more" />
              <div slot="no-results" />
            </infinite-loading>
          </template>
        </div>
      </v-col>
      <v-col cols="12" md="4">
        <!--
        <room
          ref="room"
          v-if="roomRefId"
          :ref-id="roomRefId"
          style="height: 500px;"
          class="mb-6"
          compact
        >
          <template v-slot:toolbar-title>
            <v-subheader class="px-0">
              GROUP CHAT
            </v-subheader>
          </template>
        </room>
        -->

        <v-card v-if="similarGroups.length" class="mb-4">
          <v-list dense subheader>
            <v-subheader>SIMILAR GROUPS</v-subheader>
            <v-list-item-group color="primary">
              <v-list-item
                v-for="object in similarGroups"
                :key="object.id"
                :to="`/group/${object.slug}/${object.id}`"
                class="pa-0"
                nuxt
              >
                <v-list-item-avatar tile size="70" class="mx-2">
                  <v-img :src="object.image.urls.thumb" />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ object.name }}
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    <div>
                      {{ object.city.display_name }}
                    </div>
                    <div>
                      {{ object.starts_at|formatDate("MMM Do") }}
                      <v-icon>mdi-circle-small</v-icon>
                      {{ object.ends_at|formatDate("MMM Do") }}
                    </div>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-col>
    </v-row>

    <!-- dialogs -->
    <nuxt-child :key="$route.params.id" />
  </v-container>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import goTo from 'vuetify/es5/services/goto'

import Action from '~/components/Action.vue'
import GroupProposalRideOverview from '~/components/group/ProposalRideOverview.vue'
import GroupProposalStayOverview from '~/components/group/ProposalStayOverview.vue'
// import Room from '~/components/chat/Room.vue'
import UnsplashImage from '~/components/UnsplashImage.vue'
import VListItemReport from '~/components/group/VListItemReport.vue'
import { packArray } from '~/components/utils.js'

export default {
  name: 'GroupDetail',
  middleware: ['auth'],
  components: {
    Action,
    GroupProposalRideOverview,
    GroupProposalStayOverview,
    // Room,
    UnsplashImage,
    VListItemReport,
  },
  data () {
    return {
      dotsMenu: false,
      edit: {
        dialog: false,
        loading: false,
        groupName: '',
      },
      fab: false,
      similarGroups: [],
      requestToJoinLoading: false,
      roomRefId: null,
    }
  },
  computed: {
    ...mapState([
      'isDark',
    ]),
    ...mapState('group', [
      'object',
      'stream',
      'members',
    ]),
    ...mapGetters('group', [
      'membersApproved',
      'membersPending',
      'requestUserIsApprovedMember',
      'requestUserIsPendingMember',
    ]),
  },
  watch: {
    'report.chipGroup' (value) {
      if (value.includes('other')) {
        this.report.reasonsOtherTextField = true
        this.$nextTick(() => {
          this.$refs.reportReasonsOtherTextField.$refs.input.focus()
        })
      } else {
        this.report.reasonsOtherTextField = false
      }
    },
  },
  beforeCreate () {
    // clear if the requested object is different than the one in state
    // this will nicely show the loading skeletons
    const object = this.$store.state.group.object
    if (object && object.id !== this.$route.params.id) {
      this.$store.commit('group/SET_STATE', { key: 'object', value: null })
    }
  },
  async mounted () {
    try {
      await this.$store.dispatch('group/fetchObject', this.$route.params.id)
      this.edit.groupName = this.object.name
    } catch (error) {
      if (error.response && error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      }
    }

    if (this.requestUserIsApprovedMember) {
      // fetch room chat ref id
      this.$axios.get(`/api/chat/group/${this.object.id}/room/ref/`).then((response) => {
        this.roomRefId = response.data
      })
    }

    // fetch similar groups
    this.$axios.get(`/api/main/group/${this.$route.params.id}/similars/`).then((response) => {
      this.similarGroups = response.data
    })
    this.$store.dispatch('group/fetchMembers', this.$route.params.id).then(() => {
      // once we fetched the members we can see whether request user is an approved member
      // and there is no need for the below two if the request user is not a group member
      if (this.requestUserIsApprovedMember) {
        this.$store.dispatch('group/fetchProposalRideChoices')
        // set stream with group's next url and reset state
        this.$store.commit('group/SET_STATE', {
          key: 'stream',
          value: {
            next: `/api/main/group/${this.$route.params.id}/stream/`,
            results: [],
          },
        })
      }
      this.$nextTick(() => {
        // XXX for some reason streamInfinite is not there on page refresh (F5)
        // even on the next tick
        this.$refs.streamInfinite && this.$refs.streamInfinite.stateChanger.reset()
      })
    })

    this.goToAndHighlight()
  },
  methods: {
    goToAndHighlight () {
      if (this.$route.hash) {
        this.$nextTick(() => {
          const _ref = this.$route.hash.slice(1)
          const ref = this.$refs[_ref]

          if (ref === undefined) {
            return false
          }

          goTo(ref.$el)

          const nuance = this.isDark ? 'darken-2' : 'lighten-3'
          ref.$el.classList.add('yellow', nuance)
          setTimeout(() => {
            ref.$el.classList.remove('yellow', nuance)
          }, 2000)
        })
      }
    },
    scrollAndFind (object) {
      // TODO use action instead of proposal
      const items = object.available_seats ? this.$refs.stream.$refs.proposalRides : this.$refs.stream.$refs.proposalStays

      const onPage = _.filter(items, item => item.object.id === object.id)

      if (onPage.length === 1) {
        goTo(onPage[0].$el, {
          offset: this.$root.$refs.default.$refs.appBar.$el.offsetHeight + 10,
          duration: 200,
        })
        // TODO add highlight
      } else {
        this.$refs.streamInfinite.$emit('infinite', this.$refs.streamInfinite.stateChanger)
        this.$refs.streamInfinite.$once('$InfiniteLoading:loaded', () => {
          this.$nextTick(() => {
            this.scrollAndFind(object)
          })
        })
      }
    },
    streamInfinite ($state) {
      if (this.stream.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.stream.next).then((response) => {
        this.$store.commit('group/STREAM_INFINITE', response.data)
        $state.loaded()
      })
    },
    async editGroup () {
      const formData = new FormData()
      formData.append('name', this.edit.groupName)

      if (this.$refs.groupImage.$refs.input.files.length !== 0) {
        formData.append('file', this.$refs.groupImage.$refs.input.files[0])
      }

      await this.$axios.patch(`/api/main/group/${this.object.id}/`,
        formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        },
      )
      await this.$store.dispatch('group/fetchObject', this.$route.params.id)
      this.edit.dialog = false
    },
    requestToJoin () {
      this.requestToJoinLoading = true
      this.$axios.post('/api/main/membership/create/', {
        group: this.object.id,
        account: this.$auth.user.account.id,
      }).then((response) => {
        // add membership for group detail
        const accountIds = _.map(this.membersApproved, m => m.account.id)
        accountIds.push(this.$auth.user.account.id)
        this.$socket.sendObj({
          data: response.data,
          account_ids: accountIds,
          action: 'membershipCreate',
          namespace: 'group',
        })
        this.requestToJoinLoading = false
      })
    },
    packMembersApproved (count) {
      return packArray(this.membersApproved, count)
    },
    packMembersPending (count) {
      return packArray(this.membersPending, count)
    },
  },
}
</script>
