<template>
  <div />
</template>

<script>
export default {
  name: 'AccountConfirmEmail',
  async mounted () {
    const url = '/api/auth/registration/verify-email/'
    await this.$axios.post(url, { key: this.$route.params.key })
    this.$snack.success('Your email is now verified. Thanks!')
    this.$router.push({ name: 'index' })
  },
}
</script>
