<template>
  <v-container fluid>
    <v-row>
      <v-col
        v-for="object in objects.results"
        :key="object.id"
        cols="12"
      >
        <city-detail :object="object" />
      </v-col>
    </v-row>

    <infinite-loading @infinite="infinite">
      <v-col slot="spinner" cols="12">
        <v-skeleton-loader type="card" tile />
      </v-col>
      <div slot="no-more" />
      <div slot="no-results" />
    </infinite-loading>
  </v-container>
</template>

<script>
import CityDetail from '~/components/admin/CityDetail.vue'

export default {
  name: 'AdminCityList',
  middleware: 'admin-only',
  components: { CityDetail },
  data () {
    return {
      objects: {
        results: [],
        next: '/api/main/unsplash/city/list/',
        count: null,
      },
    }
  },
  methods: {
    infinite ($state) {
      if (this.objects.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.objects.next).then((response) => {
        this.objects.results.push(...response.data.results)
        this.objects.next = response.data.next

        if (!this.objects.count) {
          this.objects.count = response.data.count
        }
        $state.loaded()
      })
    },
  },
}
</script>
