<template>
  <client-only>
    <!--
    since document is not defined on server side
    we use client only not to get a mismatch of nodes
    thus bailed hydration

    that is because of the v-if directive
    eg: the default is for dialog.mode to be false
    but on mobiles it gets toggled in beforeMount
    hence the mismatch server vs client
    -->
    <v-dialog
      v-if="dialog.mode"
      v-model="dialog.opened"
      fullscreen
      transition="dialog-bottom-transition"
    >
      <room
        ref="room"
        :ref-id="$route.params.hashid"
        show-back-arrow
      />
    </v-dialog>
    <room
      ref="room"
      v-else
      :ref-id="$route.params.hashid"
    />
  </client-only>
</template>

<script>
import Room from '~/components/chat/Room.vue'

export default {
  name: 'ChatRoomDetail',
  middleware: ['auth'],
  components: {
    Room,
  },
  data () {
    return {
      dialog: {
        opened: false,
        mode: false,
        break: 960,
      },
    }
  },
  watch: {
    'dialog.opened' (opened, oldValue) {
      if (!opened) {
        this.$router.go(-1)
      }
    },
  },
  beforeMount () {
    if (process.browser) {
      this.dialog.mode = window.innerWidth < this.dialog.break
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.setHeights()
      window.addEventListener('resize', this.setHeights)
    })
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.setHeights)
  },
  methods: {
    setHeights () {
      if (process.browser) {
        this.dialog.mode = window.innerWidth < this.dialog.break

        if (this.dialog.mode) {
          this.dialog.opened = true
          this.$nextTick(() => {
            this.$refs.room.$el.style.height = '100vh'
          })
        } else {
          const main = this.$root.$refs.default.$refs.content.$el
          let header = window.getComputedStyle(main).getPropertyValue('padding-top')
          header = header.slice(0, -2)
          let footer = window.getComputedStyle(main).getPropertyValue('padding-bottom')
          footer = footer.slice(0, -2)

          this.$refs.room.$el.style.height = (
            window.innerHeight -
            Number(header) -
            Number(footer) - 1
          ) + 'px'
        }
      }
    },
  },
}
</script>
