<template>
  <v-container class="pt-0">
    <back-bar :title="object && object.name" />
    <v-row dense>
      <v-col
        v-for="city in objects.results"
        :key="city.id"
        cols="12"
        sm="6"
        md="4"
      >
        <v-card-city :object="city" />
      </v-col>
    </v-row>
    <infinite-loading @infinite="infinite">
      <v-row slot="spinner">
        <v-col cols="12" sm="6" md="4">
          <v-skeleton-loader type="card" />
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-skeleton-loader type="card" />
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-skeleton-loader type="card" />
        </v-col>
      </v-row>
      <div slot="no-more" />
      <div slot="no-results" />
    </infinite-loading>
  </v-container>
</template>
<script>
import BackBar from '~/components/BackBar.vue'
import VCardCity from '~/components/VCardCity.vue'

export default {
  name: 'ExploreCountryDetail', // city listing from a country
  components: {
    BackBar,
    VCardCity,
  },
  data () {
    return {
      objects: {
        results: [],
        next: null, // set before mount
        count: null,
      },
      object: null,
    }
  },
  async beforeMount () {
    const url = `/api/main/explore/country/${this.$route.params.slug}/city/list/`
    this.objects.next = url

    const response = await this.$axios.get(`/api/geo/country/detail/${this.$route.params.slug}/`)
    this.object = response.data
  },
  methods: {
    infinite ($state) {
      if (this.objects.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.objects.next).then((response) => {
        this.objects.results.push(...response.data.results)
        this.objects.next = response.data.next

        if (!this.objects.count) {
          this.objects.count = response.data.count
        }
        $state.loaded()
      })
    },
  },
}
</script>
