<template>
  <v-container class="pt-0">
    <back-bar :title="object && object.name" />
    <upcoming-trips :url="`/api/main/explore/city/${this.$route.params.id}/group/list/`" />
  </v-container>
</template>
<script>
import BackBar from '~/components/BackBar.vue'
import UpcomingTrips from '~/components/UpcomingTrips.vue'

export default {
  name: 'ExploreCityDetail',
  components: {
    BackBar,
    UpcomingTrips,
  },
  data () {
    return {
      object: null,
    }
  },
  async beforeMount () {
    const response = await this.$axios.get(`/api/geo/city/detail/${this.$route.params.id}/`)
    this.object = response.data
  },
}
</script>
