<template>
  <div>
    <group-proposal-ride
      v-if="action.action_object_content_type.model == 'proposalride'"
      :action-id="action.id"
      :object="action.action_object"
    />

    <group-proposal-stay
      v-if="action.action_object_content_type.model == 'proposalstay'"
      :action-id="action.id"
      :object="action.action_object"
    />

    <!-- group creations card -->
    <v-card
      v-if="action.action_object_content_type.model == 'group' && action.verb == 'created'"
    >
      <v-list-item>
        <v-list-item-avatar>
          <v-avatar>
            <v-img :src="action.actor.image_src" />
          </v-avatar>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>
            <span class="font-weight-bold">
              {{ action.actor.user.first_name }}
            </span>
            created the group
          </v-list-item-title>
          <v-list-item-subtitle>
            <timeago :datetime="action.action_object.created_at" :auto-update="60" />
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-card-text>
        <div class="title text-center">
          <v-icon size="48" color="primary">
            mdi-map-marker
          </v-icon>
          <div class="text--primary">
            Let's go to {{ action.action_object.city.ascii_name }}!
          </div>
        </div>
        <v-img :src="worldImage" width="200" class="mx-auto" />
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import GroupProposalRide from '~/components/group/ProposalRide.vue'
import GroupProposalStay from '~/components/group/ProposalStay.vue'

export default {
  components: {
    GroupProposalRide,
    GroupProposalStay,
  },
  props: {
    action: {
      type: Object,
      required: true,
    },
  },
  computed: {
    worldImage () {
      const min = 1
      const max = 8
      const index = Math.floor(Math.random() * (max - min + 1)) + min
      return `/static/img/misc/world${index}.png`
    },
  },
}
</script>
