<template>
  <v-autocomplete
    ref="autocomplete"
    v-model="city"
    @keypress.enter="$emit('enterPressed')"
    @change="$emit('enterPressed')"
    :dense="dense"
    :outlined="outlined"
    :solo="solo"
    :items="cities"
    :label="label"
    :loading="loading"
    :search-input.sync="query"
    item-text="display_name"
    prepend-inner-icon="mdi-map-marker"
    hide-details
    hide-no-data
    return-object
  >
    <template v-if="$slots.append" v-slot:append>
      <slot name="append" />
    </template>
  </v-autocomplete>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: 'Type a destination city',
    },
    dense: {
      type: Boolean,
      default: false,
    },
    outlined: {
      type: Boolean,
      default: false,
    },
    solo: {
      type: Boolean,
      default: false,
    },
  },
  data () {
    return {
      cities: [],
      city: null,
      loading: false,
      query: null,
    }
  },
  watch: {
    query (val) {
      if (val == null || val === '') {
        this.city = null
        return
      }
      return this.searchCity(val)
    },
  },
  mounted () {
    this.searchCity = _.debounce(this.searchCity, 300)
  },
  methods: {
    focus () {
      this.$refs.autocomplete.$refs.input.focus()
    },
    searchCity (v) {
      this.loading = true

      this.$axios.get('/api/geo/city/search/?q=' + v).then((response) => {
        this.cities = response.data.results
        this.loading = false
      })
    },
  },
}
</script>
