<template>
  <div>
    <v-app-bar fixed inverted-scroll scroll-threshold="50">
      <v-list-item class="px-0">
        <v-list-item-avatar>
          <v-btn @click="$router.go(-1)" icon>
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>
            {{ title }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-app-bar>

    <v-list-item class="px-0">
      <v-list-item-avatar>
        <v-btn @click="$router.go(-1)" icon>
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>
          {{ title }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Back',
    },
  },
}
</script>
