<template>
  <v-list-item @click="logout">
    <v-list-item-icon>
      <v-icon>mdi-logout</v-icon>
    </v-list-item-icon>
    <v-list-item-content>
      <v-list-item-title>
        Log out
      </v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  methods: {
    logout () {
      this.$auth.logout().then(() => {
        this.$root.$refs.default.drawer = false
        this.$snack.success('Logged out. See ya!')
      })
      this.$socket.close() // force reconnection with no cookie
    },
  },
}
</script>
