<template>
  <v-snackbar
    v-model="show"
    :color="snack.color"
    :timeout="snack.timeout"
    multi-line
    bottom
    left
  >
    <div
      :class="{
        'black--text': snack.color === 'warning'
      }"
      v-html="snack.text"
    />
    <v-btn @click="show = false" :dark="snack.color !== 'warning'" icon>
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  data () {
    return {
      snack: {
        text: '',
        color: null,
        timeout: 0,
      },
      show: false,
    }
  },
  computed: {
    ...mapState('snackbar', [
      'queue',
      'queueTrigger',
    ]),
    ...mapGetters('snackbar', [
      'queueIsEmpty',
    ]),
  },
  watch: {
    show () {
      if (!this.show && !this.queueIsEmpty) {
        this.showNextSnack()
      }
    },
    queueTrigger () {
      if (!this.show && !this.queueIsEmpty) {
        this.showNextSnack()
      }
    },
  },
  mounted () {
    if (!this.queueIsEmpty) {
      this.showNextSnack()
    }
  },
  methods: {
    showNextSnack () {
      this.snack = this.$store.state.snackbar.queue[0]
      this.$store.commit('snackbar/QUEUE_POP_FIRST')
      this.$nextTick(() => {
        this.show = true
      })
    },
  },
}
</script>
