<template>
  <div
    :class="{
      'caption px-1': true,
      // 'grey': true,
    }"
    style="position:absolute;bottom:5px;right:5px;z-index:1;"
  >
    Photo by
    <a
      :href="linkUnsplashProfile"
      rel="noopener"
      class="font-weight-bold flat-link"
      target="_blank"
    >
      {{ image.user.name }}
    </a>
    on
    <a
      :href="linkUnsplash"
      rel="noopener"
      class="font-weight-bold flat-link"
      target="_blank"
    >
      Unsplash
    </a>
  </div>
</template>
<script>
export default {
  props: {
    image: {
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      APP_NAME: 'tb',
    }
  },
  computed: {
    linkUnsplash () {
      return `https://unsplash.com/?utm_source=${this.APP_NAME}&utm_medium=referral`
    },
    linkUnsplashProfile () {
      return `https://unsplash.com/@${this.image.user.username}?utm_source=${this.APP_NAME}&utm_medium=referral`
    },
  },
}
</script>
