<template>
  <div>
    <v-img
      v-if="image.dummy"
      :src="image.urls.regular"
      :lazy-src="image.urls.thumb"
      :aspect-ratio="aspectRatio"
    />
    <v-img
      v-else
      @click.right.prevent="snackUnsplashCredits"
      :src="image.urls.regular"
      :lazy-src="image.urls.thumb"
      :aspect-ratio="aspectRatio"
      class="not-dummy"
    >
      <template v-slot:placeholder>
        <v-row
          class="fill-height ma-0"
          align="center"
          justify="center"
        >
          <v-progress-circular indeterminate color="grey lighten-5" />
        </v-row>
      </template>
      <unsplash-credits v-if="creditsVisible" :image="image" />
    </v-img>
  </div>
</template>

<script>
import Vue from 'vue'
import UnsplashCredits from '~/components/UnsplashCredits.vue'

export default {
  components: {
    UnsplashCredits,
  },
  props: {
    image: {
      type: Object,
      required: true,
    },
    aspectRatio: {
      type: String,
      default: '1',
    },
    // if this image is a child of a vcard with nuxt link
    // credits wont be accesible if shown on image
    // so set default to show credits on right click / long tap
    // in a snack
    creditsVisible: {
      type: Boolean,
      default: false,
    },
  },
  data () {
    return {
    }
  },
  methods: {
    snackUnsplashCredits () {
      const Klass = Vue.extend(UnsplashCredits)
      const credits = new Klass({ propsData: { image: this.image } })
      credits.$mount()
      this.$snack.queue(credits.$el.innerHTML)
      credits.$destroy()
    },
  },
}
</script>
