<template>
  <div>
    <v-row v-if="computedObjects.count && computedObjects.count !== 0" no-gutters>
      <v-col>
        <v-subheader>
          UPCOMING TRIPS
          <v-spacer />
          <div class="mr-2">
            {{ dateStartLabel }}
          </div>
          <v-menu
            v-model="date.startShow"
            :close-on-content-click="false"
            min-width="290px"
            offset-y
            transition="scale-transition"
          >
            <template v-slot:activator="{ on }">
              <v-icon
                v-on="on"
                v-if="!hideStartsAtFilter"
              >
                mdi-calendar-search
              </v-icon>
            </template>

            <v-card flat tile>
              <v-card-title class="text-center title d-block">
                Choose trip start date
              </v-card-title>
              <v-card-subtitle class="text-center">
                {{ dateStartLabel }}
              </v-card-subtitle>
            </v-card>
            <v-date-picker
              v-model="date.start"
              :min="date.startMin"
              no-title
              style="border-radius: 0;"
            />
          </v-menu>
        </v-subheader>
      </v-col>
    </v-row>

    <v-row dense>
      <v-col
        v-for="object in computedObjects.results"
        :key="object.id"
        cols="12"
        sm="6"
        md="4"
      >
        <v-card-group :object="object" />
      </v-col>
    </v-row>

    <infinite-loading ref="infinite" @infinite="infinite">
      <v-row slot="spinner">
        <v-col cols="12" sm="6" md="4">
          <v-skeleton-loader type="image" tile />
          <v-skeleton-loader type="list-item-three-line" />
          <v-skeleton-loader type="chip" class="ml-2 mt-2" />
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-skeleton-loader type="image" tile />
          <v-skeleton-loader type="list-item-three-line" />
          <v-skeleton-loader type="chip" class="ml-2 mt-2" />
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <v-skeleton-loader type="image" tile />
          <v-skeleton-loader type="list-item-three-line" />
          <v-skeleton-loader type="chip" class="ml-2 mt-2" />
        </v-col>
      </v-row>
      <div slot="no-more" />
      <div slot="no-results" />
    </infinite-loading>
  </div>
</template>
<script>
import moment from 'moment'
import VCardGroup from '~/components/VCardGroup.vue'

export default {
  components: {
    VCardGroup,
  },
  props: {
    url: { // api url where to fetch the trips from
      type: String,
      required: true,
    },
    hideStartsAtFilter: {
      type: Boolean,
      default: false,
    },
    stored: {
      // whether to keep the upcoming trips in store or not
      // this is true only for explore all groups from /pages/explore.vue
      type: Boolean,
      default: false,
    },
  },
  data () {
    return {
      objects: {
        count: null,
        next: null, // set in beforeMount
        results: [],
      },
      date: {
        start: moment().add(1, 'days').format('YYYY-MM-DD'), // default start in backend
        startMin: moment().add(1, 'days').format('YYYY-MM-DD'),
        startShow: false,
      },
    }
  },
  computed: {
    computedObjects () {
      if (this.stored) {
        return this.$store.state.explore.objects
      }
      return this.objects
    },
    dateStartLabel () {
      if (this.date.start === '') {
        return ''
      }
      return moment(this.date.start).format('dddd, Do of MMM')
    },
  },
  watch: {
    'date.start' (value) {
      if (this.stored) {
        this.$store.dispatch('explore/setStartDate', value)
      } else {
        this.count = null
        this.objects.next = `${this.url}?starts_at__gte=${value}`
        this.objects.results = []
      }
      this.date.startShow = false
      this.$refs.infinite.stateChanger.reset()
    },
  },
  beforeMount () {
    this.objects.next = this.url

    if (this.stored) {
      // the results in store might have been filtered earlier
      // so nicely display the proper start date
      this.date.start = this.$store.state.explore.date.start
    }
  },
  methods: {
    infinite ($state) {
      let objects
      if (this.stored) {
        objects = this.$store.state.explore.objects
      } else {
        objects = this.objects
      }

      if (objects.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(objects.next).then((response) => {
        if (this.stored) {
          this.$store.commit('explore/OBJECTS_INFINITE', response.data)
        } else {
          this.objects.results.push(...response.data.results)
          this.objects.next = response.data.next

          if (!this.objects.count) {
            this.objects.count = response.data.count
          }
        }
        $state.loaded()
      })
    },
  },
}
</script>
