<template>
  <v-card>
    <nuxt-link
      :to="{
        name: 'group-slug-id',
        params: {
          slug: object.slug,
          id: object.id,
        }
      }"
      class="flat-link"
    >
      <unsplash-image v-ripple :image="object.image" aspect-ratio="1.7" />
    </nuxt-link>

    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>
          {{ object.name }}
        </v-list-item-title>
      </v-list-item-content>
      <v-list-item-action>
        <div
          v-if="membersApproved.length > 1"
          class="d-flex"
          style="padding-right: 9px;"
        >
          <v-avatar
            v-for="(membership, i) in packMembersApproved(2)"
            :key="i"
            size="24"
            style="margin-right: -9px;"
          >
            <v-img v-if="membership.id" :src="membership.account.image_src" />
            <v-avatar v-else color="grey darken-2" size="35">
              <span class="white--text font-weight-bold caption">
                +{{ membership.packed }}
              </span>
            </v-avatar>
          </v-avatar>
        </div>
      </v-list-item-action>
    </v-list-item>

    <v-card-subtitle class="pt-0">
      {{ object.city.display_name }}
      <br>
      {{ object.starts_at|formatDate("MMM Do") }}
      <v-icon>mdi-circle-small</v-icon>
      {{ object.ends_at|formatDate("MMM Do") }}
    </v-card-subtitle>

    <v-slide-group v-if="showInterests" class="py-2">
      <v-slide-item
        v-for="interest in object.interests"
        :key="interest.id"
      >
        <v-chip class="ml-1">
          <v-avatar left>
            <v-img :src="interest.image.urls.thumb" />
          </v-avatar>
          {{ interest.name }}
        </v-chip>
      </v-slide-item>
    </v-slide-group>
  </v-card>
</template>

<script>
import UnsplashImage from '~/components/UnsplashImage.vue'
import { packArray } from '~/components/utils.js'

export default {
  components: {
    UnsplashImage,
  },
  props: {
    object: {
      type: Object,
      required: true,
    },
    showInterests: {
      type: Boolean,
      default: true,
    },
  },
  data () {
    return {
      dotsMenu: false,
    }
  },
  computed: {
    membersApproved () {
      return _.filter(this.object.membership_set, m => m.approved_at != null)
    },
  },
  methods: {
    packMembersApproved (count) {
      return packArray(this.membersApproved, count)
    },
  },
}
</script>
