<template>
  <v-card :to="`/explore/country/${object.slug}`" tile nuxt>
    <unsplash-image :image="object.image" aspect-ratio="1.5" />
    <v-list-item>
      <v-list-item-title>
        {{ object.name }}
      </v-list-item-title>
    </v-list-item>
  </v-card>
</template>

<script>
import UnsplashImage from '~/components/UnsplashImage.vue'

export default {
  components: {
    UnsplashImage,
  },
  props: {
    object: {
      type: Object,
      required: true,
    },
  },
  data () {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
}
</script>
