<template>
  <div />
</template>

<script>
export default {
  name: 'InvitationAccept',
  middleware: ['auth'],
  mounted () {
    const url = '/api/main/invitation/' + this.$route.params.hashid + '/accept/'

    this.$axios.post(url).then((response) => {
      const message = response.data.message
      const level = response.data.level
      this.$snack.queue(message, level)

      this.$router.push({
        name: 'group-slug-id',
        params: response.data.route_params,
      })

      this.$socket.sendObj({
        data: response.data.membership,
        account_ids: response.data.account_ids,
        action: 'membershipCreate',
        namespace: 'group',
      })
    }).catch((error) => {
      const message = error.response.data.message
      this.$snack.error(message)

      this.$router.push({
        name: 'group-slug-id',
        params: error.response.data.route_params,
      })
    })
  },
}
</script>
