<template>
  <v-card tile class="d-flex flex-column">
    <v-toolbar :dense="compact" flat class="flex-grow-0">
      <v-btn
        v-if="showBackArrow"
        @click.stop="$router.go(-1)"
        icon
      >
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <slot name="toolbar-title">
        <v-toolbar-title v-if="room" class="px-0">
          <v-list-item class="px-0">
            <v-list-item-avatar>
              <v-img :src="getRoomImage(room)" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title v-text="getRoomName(room)" />
              <v-list-item-subtitle v-if="room.group">
                <div class="d-flex">
                  <v-avatar
                    v-for="account in room.accounts"
                    :key="account.id"
                    :title="account.user.get_full_name"
                    size="15"
                  >
                    <v-img :src="account.image_src" />
                  </v-avatar>
                </div>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-toolbar-title>
      </slot>
    </v-toolbar>

    <v-divider />

    <div
      ref="messagesWrap"
      :class="{
        'scroll-y flex-grow-1': true,
        'pa-1': compact,
        'pa-2': !compact
      }"
    >
      <infinite-loading
        ref="messagesInfinite"
        @infinite="messagesInfinite"
        direction="top"
        spinner="spiral"
      >
        <div slot="no-more" />
        <div slot="no-results" />
      </infinite-loading>

      <div
        v-for="(msg, $msg) in messages.results"
        :key="$msg"
        :class="{
          'd-flex align-end': true,
          'my-1': compact,
          'my-3': !compact,
          'flex-row-reverse': msg.created_by.id == $auth.user.account.id,
          'bt-light pt-2': msg.id == messages.first_new_id,
        }"
      >
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-avatar v-on="on" :size="compact ? 24 : 38">
              <v-img
                v-if="messageShouldAttachImage(msg, $msg)"
                :src="msg.created_by.image_src"
              />
            </v-avatar>
          </template>
          <div :class="compact ? 'caption' : ''">
            {{ msg.created_by.user.get_full_name }}
          </div>
        </v-tooltip>
        <div
          :class="{
            'pa-2 mx-1': !compact,
            'px-1 mx-1': compact,
            'ml-auto text-right grey darken-4': msg.created_by.id == $auth.user.account.id && isDark,
            'ml-auto text-right grey lighten-4': msg.created_by.id == $auth.user.account.id && !isDark,
            'mr-auto grey darken-2': msg.created_by.id != $auth.user.account.id && isDark,
            'mr-auto grey lighten-2': msg.created_by.id != $auth.user.account.id && !isDark,
          }"
          style="word-break: break-word; max-width: 70%; border-radius: 4px; line-height:22px;"
        >
          <v-tooltip top open-on-click>
            <template v-slot:activator="{ on }">
              <div v-on="on">
                <span
                  :class="{
                    'display-1': !compact && isEmojiOnly(msg.text),
                    'subtitle-1': !compact && !isEmojiOnly(msg.text),
                    'body-2': compact,
                  }"
                >
                  {{ msg.text }}
                </span>
              </div>
            </template>
            <div :class="compact ? 'caption' : ''">
              {{ msg.created_at|formatDate('h:mm a, MMM Do YYYY') }}
            </div>
          </v-tooltip>
          <div v-if="messageShouldAttachReceipt(msg, $msg)">
            <!-- Math.random this message was just created by request user -->
            <span v-if="msg.id < 1">
              <v-icon size="15">mdi-check</v-icon>
            </span>
            <div v-else style="min-height:22px;">
              <!-- message was sent but we dont know whether was seen by others -->
              <span v-if="messageWasSeenByOthers(msg)">
                <v-tooltip
                  v-for="(account, $account) in msg.seen_by"
                  v-if="account.id != $auth.user.account.id"
                  :key="$account"
                  left
                >
                  <template v-slot:activator="{ on }">
                    <v-avatar v-on="on" size="15">
                      <img :src="account.image_src"></img>
                    </v-avatar>
                  </template>

                  <span> Seen by {{ account.user.first_name }}</span>
                </v-tooltip>
              </span>
              <span v-else>
                <v-icon size="15">mdi-check-all</v-icon>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- typing preview -->
      <div v-if="room_account_typing" class="d-flex my-3 align-center">
        <v-avatar size="38">
          <img :src="room_account_typing.image_src"></img>
        </v-avatar>

        <div style="width: 35px;" class="mx-1">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-progress-linear
                v-on="on"
                color="grey"
                buffer-value="0"
                opacity="0"
                value="100"
                height="10"
                stream
                indeterminate
              />
            </template>
            <span>{{ room_account_typing.user.first_name }} is typing ...</span>
          </v-tooltip>
        </div>
      </div>
    </div>

    <v-divider />

    <div>
      <div class="d-flex pa-2">
        <v-menu
          :close-on-content-click="false"
          nudge-top="380"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              :x-large="!compact"
              icon
              class="mt-1 mr-2"
            >
              <v-icon>mdi-emoticon-happy-outline</v-icon>
            </v-btn>
          </template>

          <v-card max-width="400">
            <v-tabs v-model="emojiTab" center-active show-arrows>
              <v-tab v-for="(data, group) in emojis" :key="group" class="caption">
                <span v-text="emojiGetFirstChar(data)" class="display-1" />
              </v-tab>
            </v-tabs>

            <v-divider />

            <v-tabs-items v-model="emojiTab">
              <v-tab-item v-for="(data, group) in emojis" :key="group">
                <div class="pa-2 text-center">
                  {{ group }}
                </div>
                <v-divider />
                <v-card height="300" class="scroll-y pa-2" flat>
                  <div v-for="(subdata, subgroup) in data" :key="subgroup">
                    <span
                      v-for="(item, index) in subdata"
                      :key="index"
                      @click="addEmoji(item)"
                      style="cursor:pointer; font-size: 24px;"
                    >
                      {{ item.char }}
                    </span>
                  </div>
                </v-card>
              </v-tab-item>
            </v-tabs-items>
          </v-card>
        </v-menu>

        <v-text-field
          ref="messageInput"
          v-model="message"
          @keyup.enter="messageSend"
          :dense="compact"
          :label="compact ? '' : 'Type a message'"
          filled
          type="text"
          maxlength="512"
          hide-details
        />
        <v-btn
          @click="messageSend"
          :x-large="!compact"
          icon
          color="primary"
          class="mt-1 ml-2"
        >
          <v-icon>mdi-send</v-icon>
        </v-btn>
      </div>
    </div>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'
import emojiRegex from 'emoji-regex'
import EmojiData from '~/components/chat/emoji.json'

export default {
  props: {
    refId: {
      type: String,
      required: true,
    },
    showBackArrow: {
      type: Boolean,
      default: false,
    },
    compact: {
      type: Boolean,
      default: false,
    },
  },
  data () {
    return {
      message: '',
      messageTypingSent: false,
      emojis: EmojiData,
      emojiTab: null,
    }
  },
  computed: {
    ...mapState([
      'isDark',
    ]),
    ...mapState('chat', [
      'messages',
      'room',
      'room_account_typing',
      'watcher',
    ]),
    room_account_ids () {
      if (this.room == null) {
        return []
      }
      return _.map(this.room.accounts, (acc) => { return acc.id })
    },
    _account_ids () {
      return _.filter(this.room_account_ids, (accId) => {
        return accId !== this.$auth.user.account.id
      })
    },
  },
  watch: {
    message (newVal, oldVal) {
      const roomId = this.room.id

      if (newVal === '') {
        this.messageTypingSend(null, roomId)
        this.messageTypingSent = false
        return
      }
      if (this.messageTypingSent) {
        return
      }
      this.messageTypingSend(this.$auth.user.account, roomId)
      this.messageTypingSent = true

      // clear it out after some seconds
      // otherwise is cleared when message is received
      setTimeout(() => {
        this.messageTypingSend(null, roomId)
        this.messageTypingSent = false
      }, 10000)
    },
    'watcher.scroll' () {
      this.messagesScroll()
    },
    'watcher.message_seen' (message) {
      if (message == null) {
        return false
      }
      this.$axios.patch(message.url_message_seen).then((response) => {
        if (response.status === 200) {
          this.$socket.sendObj({
            data: response.data,
            account_ids: this._account_ids,
            mutation: 'MESSAGE_SET_SEEN_BY',
            namespace: 'chat',
          })
        }
      })
    },
    refId () {
      this.initRoom()
    },
  },
  beforeDestroy () {
    this.$store.commit('chat/ROOM_CLEAR')
  },
  created () {
    // this.messageTypingSend = _.debounce(this.messageTypingSend, 500)
    this.initRoom()
  },
  methods: {
    initRoom () {
      if (this.$route.params.room) {
        // sent by autocomplete.room watcher in pages/chat.vue
        this.$store.commit('chat/ROOM_ENTER', this.$route.params.room)
      } else {
        this.$store.dispatch('chat/fetchRoom', this.refId).then(() => {
          this.$refs.messagesInfinite.stateChanger.reset()
          this.roomMarkAsSeen()
        })
      }
    },
    addEmoji (emoji) {
      this.message += emoji.char
    },
    isEmojiOnly (text) {
      // checks if given text contains emojis only
      const regex = emojiRegex()
      const emojis = []
      let match = regex.exec(text)

      // find all emojis in text
      while (match) {
        const emoji = match[0]
        emojis.push(emoji)
        match = regex.exec(text)
      }

      // delete emojis in text
      _.each(emojis, (emoji) => {
        const r = new RegExp(emoji, 'g')
        text = text.replace(r, '')
      })

      // finally compare
      return text.trim() === ''
    },
    emojiGetFirstChar (subgroupObject) {
      let char = ''
      _.each(_.values(subgroupObject), (emojis, index) => {
        if (index === 0) {
          _.each(emojis, (emoji, index) => {
            if (index === 0) {
              char = emoji.char
              return false
            }
          })
        }
        return false
      })
      return char
    },
    getRoomImage (room) {
      if (room.group) {
        return room.group.image.urls.thumb
      }
      let imageSrc = ''
      _.each(room.accounts, (account) => {
        if (account.id !== this.$auth.user.account.id) {
          imageSrc = account.image_src
          return false
        }
      })
      return imageSrc
    },
    getRoomName (room) {
      if (room.group) {
        return room.group.name
      }
      let name = ''
      _.each(room.accounts, (account) => {
        if (account.id !== this.$auth.user.account.id) {
          name = account.user.get_full_name
          return false
        }
      })

      return name
    },
    roomMarkAsSeen () {
      if (this.room.count_unread === 0) {
        return
      }
      this.$axios.patch(this.room.url_room_seen).then((response) => {
        if (response.status === 200) {
          this.$store.commit('chat/ROOM_MARK_AS_SEEN')

          _.each(response.data, (message) => {
            this.$socket.sendObj({
              data: message,
              account_ids: this._account_ids,
              mutation: 'MESSAGE_SET_SEEN_BY',
              namespace: 'chat',
            })
          })
        }
      })
    },
    roomCreate () {
      this.$axios.post('/api/chat/room/create/', {
        accounts: this.room_account_ids,
        group: this.room.group == null ? null : this.room.group.id,
      }).then((response) => {
        // at the moment this.room is raw as returned by
        // autocomplete endpoint
        // set this.room as returned by DB
        this.$store.commit('chat/ROOM_ENTER', response.data)

        // add the room in everyone's rooms.results
        this.$socket.sendObj({
          data: response.data,
          account_ids: this.room_account_ids,
          mutation: 'ROOM_CREATE',
          namespace: 'chat',
        })

        this.messageCreate()
      })
    },
    messagesInfinite ($state) {
      if (this.messages.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.messages.next).then((response) => {
        this.$store.commit('chat/MESSAGES_INFINITE', response.data)

        this.$nextTick(() => {
          $state.loaded()
        })
      })
    },
    messagesScroll () {
      this.$nextTick(() => {
        setTimeout(() => {
          this.$refs.messagesWrap.scrollTop = this.$refs.messagesWrap.scrollHeight
        }, 10)
      })
    },
    messageInputFocus () {
      this.$nextTick(() => {
        this.$refs.messageInput.focus()
      })
    },
    messageSend () {
      if (this.message === '') {
        this.messageInputFocus()
        return
      }

      if (typeof (this.room.id) === 'string') {
        /* the id here is a unix timestamp as a string
         * and it represents a room without a DB id
         * this means we have to create the room first
         * the message is sent in the ajax success of room create
         */
        return this.roomCreate()
      }
      return this.messageCreate()
    },
    messageCreate () {
      this.messageInputFocus()

      // broadcasts a new message to request user
      // and confirms its delivery receipt on ajax success
      const message = {
        created_at: new Date(),
        created_by: this.$auth.user.account,
        id: Math.random(),
        room_id: this.room.id,
        seen_by: [],
        text: this.message,
      }
      this.message = ''

      this.$socket.sendObj({
        data: message,
        account_ids: [this.$auth.user.account.id],
        action: 'messageSend',
        namespace: 'chat',
      })

      this.$axios.post('/api/chat/message/create/', {
        room: this.room.id,
        created_by: this.$auth.user.account.id,
        reply_to: null,
        text: message.text,
      }).then((response) => {
        this.$socket.sendObj({
          data: { oldId: message.id, message: response.data },
          account_ids: [this.$auth.user.account.id],
          action: 'messageSendConfirmReceipt',
          namespace: 'chat',
        })
        this.$socket.sendObj({
          data: response.data,
          account_ids: this.room_account_ids,
          action: 'message_received',
          namespace: 'chat',
        })
      })
    },
    messageShouldAttachImage (message, index) {
      const nextMessage = this.messages.results[index + 1]
      if (nextMessage && nextMessage.created_by.id === message.created_by.id) {
        return false // dont display at current row, but wait for the next
      }
      return true
    },
    messageShouldAttachReceipt (message, index) {
      if (message.created_by.id !== this.$auth.user.account.id) {
        return false
      }

      const nextMessage = this.messages.results[index + 1]

      if (nextMessage) { return false }

      return true
    },
    messageWasSeenByOthers (message) {
      return _.filter(message.seen_by, (account) => {
        return account.id !== this.$auth.user.account.id
      }).length !== 0
    },
    messagesAreScrolledToBottom () {
      const div = this.$refs.messagesWrap
      return div.scrollHeight - div.scrollTop === div.offsetHeight
    },
    messageTypingSend (account, roomId) {
      // use roomId argument since this.room might be null because
      // the component got destroyed before clearing "Typing ..."
      // in watch message setTimeout
      // this means "Typing ..." will remain stucked on the other side
      return this.$socket.sendObj({
        data: { account, roomId },
        account_ids: this._account_ids,
        action: 'message_typing',
        namespace: 'chat',
      })
    },
  },
}
</script>
<style>
.emoji {font-size: 22px;}
</style>
