<template>
  <div>
    <v-dialog
      v-if="$route.name === 'group-slug-id-add'"
      v-model="dialog"
      fullscreen
      persistent
      no-click-animation
      transition="dialog-bottom-transition"
    >
      <v-card>
        <back-bar title="Add" />
        <v-divider />

        <v-container>
          <v-row>
            <v-col>
              <v-card elevation="10">
                <v-list class="py-0">
                  <v-list-item
                    :to="`/group/${object.slug}/${object.id}/add/stay`"
                    nuxt
                  >
                    <v-list-item-avatar>
                      <v-btn
                        color="pink"
                        dark
                        fab
                      >
                        <v-icon>mdi-hotel</v-icon>
                      </v-btn>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>
                        <span>Post an accommodation</span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item
                    :to="`/group/${object.slug}/${object.id}/add/ride`"
                    nuxt
                  >
                    <v-list-item-avatar>
                      <v-btn
                        color="indigo"
                        fab
                        dark
                      >
                        <v-icon>mdi-car</v-icon>
                      </v-btn>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>
                        <span>Post a ride share</span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item
                    :to="`/group/${object.slug}/${object.id}/add/friend`"
                    nuxt
                  >
                    <v-list-item-avatar>
                      <v-btn
                        color="light-green"
                        dark
                        fab
                      >
                        <v-icon>mdi-account</v-icon>
                      </v-btn>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>
                        <span>Invite a friend</span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
    <nuxt-child v-else />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BackBar from '~/components/BackBar.vue'

export default {
  name: 'GroupMembershipList',
  middleware: ['auth'],
  components: { BackBar },
  data () {
    return {
      dialog: false,
    }
  },
  computed: {
    ...mapState('group', [
      'object',
    ]),
  },
  mounted () {
    if (this.object == null) {
      return this.$router.push('/')
    }
    this.dialog = true
  },
  methods: {
  },
}
</script>
