<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    persistent
    no-click-animation
    transition="dialog-bottom-transition"
  >
    <v-card>
      <back-bar title="Group Members" />
      <v-divider />
      <v-list>
        <v-list-item v-for="member in membersApproved" :key="member.id">
          <v-list-item-avatar>
            <v-img :src="member.account.image_src" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>
              {{ member.account.user.get_full_name }}
            </v-list-item-title>
            <v-list-item-subtitle v-if="member.group.created_by_id == member.account.id">
              Admin
              <v-icon>mdi-circle-small</v-icon>
              Joined <timeago :datetime="member.created_at" :auto-update="60" />
            </v-list-item-subtitle>
            <v-list-item-subtitle v-else>
              Member
              <v-icon>mdi-circle-small</v-icon>
              Joined <timeago :datetime="member.created_at" :auto-update="60" />
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import BackBar from '~/components/BackBar.vue'

export default {
  name: 'GroupMembershipList',
  middleware: ['auth'],
  components: { BackBar },
  data () {
    return {
      dialog: false,
    }
  },
  computed: {
    ...mapState('group', [
      'object',
    ]),
    ...mapGetters('group', [
      'membersApproved',
    ]),
  },
  mounted () {
    if (this.object == null) {
      return this.$router.push('/')
    }
    this.dialog = true
  },
  methods: {
  },
}
</script>
