<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    persistent
    no-click-animation
    transition="dialog-bottom-transition"
  >
    <v-card>
      <back-bar title="Membership Requests" />
      <v-divider />
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <v-icon color="primary">
              mdi-account-check
            </v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>
              Approve membership request
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-avatar>
            <v-icon color="secondary">
              mdi-account-cancel
            </v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>
              Remove membership request
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider />
        <v-slide-x-transition group>
          <v-list-item v-for="member in membersPending" :key="member.id">
            <v-list-item-avatar>
              <v-img :src="member.account.image_src" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>
                {{ member.account.user.get_full_name }}
              </v-list-item-title>
              <v-list-item-subtitle>
                Requested <timeago :datetime="member.created_at" :auto-update="60" />
              </v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action-member-pending :object="member" />
          </v-list-item>
        </v-slide-x-transition>
      </v-list>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import BackBar from '~/components/BackBar.vue'
import VListItemActionMemberPending from '~/components/group/VListItemActionMemberPending.vue'

export default {
  name: 'GroupMembershipPendingList',
  middleware: ['auth'],
  components: {
    BackBar,
    VListItemActionMemberPending,
  },
  data () {
    return {
      dialog: false,
    }
  },
  computed: {
    ...mapState('group', [
      'object',
    ]),
    ...mapGetters('group', [
      'membersPending',
    ]),
  },
  mounted () {
    if (this.object == null) {
      return this.$router.push('/')
    }
    this.dialog = true
  },
}
</script>
