<template>
  <v-card>
    <v-list subheader>
      <v-subheader>
        ACCOMMODATION
        <v-spacer />
        <v-icon>mdi-hotel</v-icon>
      </v-subheader>

      <v-divider />

      <template v-if="loaded">
        <template v-if="mostExpensive && cheapest">
          <v-list-item
            v-for="(stay, $index) in pair"
            :key="stay.id"
            :to="'/action/' + stay.action_id"
            nuxt
          >
            <v-list-item-content>
              <v-list-item-title>
                {{ stay.url_data.title|default(stay.url)|prettyUrl }}
              </v-list-item-title>
              <v-list-item-subtitle>
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-icon v-if="$index === 0" v-on="on">
                      mdi-trending-up
                    </v-icon>
                    <v-icon v-else v-on="on">
                      mdi-trending-down
                    </v-icon>
                  </template>
                  <span v-if="$index === 0">
                    Most expensive accommodation
                  </span>
                  <span v-else>
                    Cheapest accommodation
                  </span>
                </v-tooltip>
                {{ stay.estimated_cost }} {{ stay.currency.id }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
        <template v-else>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                No data
              </v-list-item-title>
              <v-list-item-subtitle>
                Most expensive and cheapest options show up here
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
      </template>
      <template v-else>
        <v-skeleton-loader type="list-item-two-line" />
      </template>
    </v-list>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      loaded: false,
      mostExpensive: null,
      cheapest: null,
      pair: [],
    }
  },
  computed: {
    ...mapState('group', [
      'watcher',
    ]),
  },
  watch: {
    'watcher.proposalStayOverview' () {
      this.refresh()
    },
  },
  mounted () {
    this.refresh()
  },
  methods: {
    refresh () {
      const url = '/api/main/group/' + this.$route.params.id + '/proposal/stay/overview/'
      this.$axios.get(url).then((response) => {
        this.cheapest = response.data.cheapest
        this.mostExpensive = response.data.most_expensive
        this.pair = [this.mostExpensive, this.cheapest]
        this.loaded = true
      })
    },
  },
}
</script>
