<template>
  <v-card>
    <v-list-item>
      <v-list-item-avatar>
        <v-avatar>
          <v-img :src="object.created_by.image_src" />
        </v-avatar>
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title>
          <span class="font-weight-bold">
            {{ object.created_by.user.first_name }}
          </span>
          posted a ride share
        </v-list-item-title>
        <v-list-item-subtitle v-if="$route.name === 'group-slug-id'">
          <nuxt-link :to="'/action/' + actionId" class="flat-link">
            <timeago :datetime="object.created_at" :auto-update="60" />
          </nuxt-link>
        </v-list-item-subtitle>
        <v-list-item-subtitle v-else>
          <timeago :datetime="object.created_at" :auto-update="60" />
        </v-list-item-subtitle>
        <v-list-item-subtitle>
          <span class="d-none d-sm-inline">
            <!-- sm and up -->
            cost per seat starting from {{ object.estimated_cost }} {{ object.currency.id }}
          </span>
          <span class="d-inline d-sm-none">
            <!-- xs only -->
            cost {{ object.estimated_cost }} {{ object.currency.id }}
          </span>

          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-icon v-on="on" size="15">
                mdi-help-circle-outline
              </v-icon>
            </template>
            <span>
              This is the cost per seat if all available seats are taken. The driver is included
            </span>
          </v-tooltip>
        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-action>
        <v-menu-dots-proposal :object="object" />
      </v-list-item-action>
    </v-list-item>

    <v-card-title>
      <v-timeline dense>
        <v-timeline-item small color="indigo">
          {{ object.starts_from.ascii_name }}
        </v-timeline-item>
        <v-timeline-item hide-dot>
          <v-chip color="indigo" dark class="mb-2">
            <v-icon left>
              mdi-car
            </v-icon>
            {{ object.make.label }}
            {{ object.type.label }}
          </v-chip>
          <v-chip
            v-for="feature in object.features"
            v-html="feature.label"
            :key="feature.id"
            color="indigo"
            outlined
            class="mb-2 mr-2"
          />
        </v-timeline-item>
        <v-timeline-item icon="mdi-map-marker" color="indigo">
          {{ group.city.ascii_name }}
        </v-timeline-item>
      </v-timeline>
    </v-card-title>

    <v-card-text>
      <v-chip class="text-lowercase">
        {{ object.currency.id }}
        {{ object.price }} per ride
      </v-chip>
      <v-chip>
        {{ object.available_seats }} seats available
      </v-chip>
    </v-card-text>

    <v-divider />

    <v-card-actions-proposal :object="object" />
  </v-card>
</template>
<script>
import { mapState } from 'vuex'

import VCardActionsProposal from '~/components/group/VCardActionsProposal.vue'
import VMenuDotsProposal from '~/components/group/VMenuDotsProposal.vue'

export default {
  components: {
    VCardActionsProposal,
    VMenuDotsProposal,
  },
  props: {
    object: {
      type: Object,
      required: true,
    },
    actionId: {
      type: Number,
      required: true,
    },
  },
  computed: {
    ...mapState({
      group: state => state.group.object,
    }),
  },
}
</script>
