<template>
  <v-card>
    <v-list-item>
      <v-list-item-avatar>
        <v-avatar>
          <v-img :src="object.created_by.image_src" />
        </v-avatar>
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title>
          <span class="font-weight-bold">
            {{ object.created_by.user.first_name }}
          </span>
          posted an accommodation
        </v-list-item-title>
        <v-list-item-subtitle v-if="$route.name === 'group-slug-id'">
          <nuxt-link :to="'/action/' + actionId" class="flat-link">
            <timeago :datetime="object.created_at" :auto-update="60" />
          </nuxt-link>
        </v-list-item-subtitle>
        <v-list-item-subtitle v-else>
          <timeago :datetime="object.created_at" :auto-update="60" />
        </v-list-item-subtitle>
        <v-list-item-subtitle>
          <span class="d-none d-sm-inline">
            <!-- sm and up -->
            cost per person starting from {{ object.estimated_cost }} {{ object.currency.id }}
          </span>
          <span class="d-inline d-sm-none">
            <!-- xs only -->
            cost {{ object.estimated_cost }} {{ object.currency.id }}
          </span>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-icon v-on="on" size="15">
                mdi-help-circle-outline
              </v-icon>
            </template>
            <span>
              This is the cost per person for the whole stay, in case the accommodation is shared by {{ object.available_spots }} people
            </span>
          </v-tooltip>
        </v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-action>
        <v-menu-dots-proposal :object="object" />
      </v-list-item-action>
    </v-list-item>

    <v-card
      :href="object.url"
      target="_blank"
      tile
      flat
    >
      <v-img
        :src="object.url_data.image_src"
        aspect-ratio="1.6"
      />
      <v-card-title>
        <a :href="object.url" target="_blank">
          {{ object.url_data.title|default(object.url)|prettyUrl }}
        </a>
      </v-card-title>
      <v-card-subtitle
        v-if="object.url_data.description"
        v-html="object.url_data.description"
      />
    </v-card>

    <v-card-text>
      <v-chip class="text-lowercase">
        {{ object.currency.id }}
        {{ object.price }} per night
      </v-chip>
      <v-chip>
        {{ object.available_spots }} spots available
      </v-chip>
    </v-card-text>

    <v-divider />

    <v-card-actions-proposal :object="object" />
  </v-card>
</template>
<script>
import VCardActionsProposal from '~/components/group/VCardActionsProposal.vue'
import VMenuDotsProposal from '~/components/group/VMenuDotsProposal.vue'

export default {
  components: {
    VCardActionsProposal,
    VMenuDotsProposal,
  },
  props: {
    object: {
      type: Object,
      required: true,
    },
    actionId: {
      type: Number,
      required: true,
    },
  },
}
</script>
