<template>
  <v-card>
    <v-list dense subheader>
      <v-subheader>
        RIDES
        <v-spacer />
        <v-icon>mdi-car</v-icon>
      </v-subheader>

      <v-divider />

      <template v-if="loaded">
        <template v-if="rides.length">
          <v-list
            v-for="(pair, $index) in rides"
            :key="$index"
            dense
            subheader
          >
            <v-subheader>
              {{ pair[0]['starts_from']['ascii_name'] }}
              <v-icon>mdi-arrow-right-thick</v-icon>
              {{ group.city.ascii_name }}
            </v-subheader>
            <v-list-item
              v-for="(ride, $ride) in pair"
              :key="$ride"
              :to="'/action/' + ride.action_id"
              nuxt
            >
              <v-list-item-content>
                <v-list-item-title>
                  {{ ride.make.label }}
                </v-list-item-title>
                <v-list-item-subtitle>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-icon v-if="$ride === 0" v-on="on">
                        mdi-trending-up
                      </v-icon>
                      <v-icon v-else v-on="on">
                        mdi-trending-down
                      </v-icon>
                    </template>
                    <span v-if="$ride === 0">
                      Most expensive ride from {{ pair[0]['starts_from']['ascii_name'] }}
                    </span>
                    <span v-else>
                      Cheapest ride from {{ pair[0]['starts_from']['ascii_name'] }}
                    </span>
                  </v-tooltip>
                  {{ ride.estimated_cost }} {{ ride.currency.id }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider />
          </v-list>
        </template>
        <template v-else>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                No data
              </v-list-item-title>
              <v-list-item-subtitle>
                Most expensive and cheapest options show up here
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
      </template>
      <template v-else>
        <v-skeleton-loader type="list-item-two-line" />
      </template>
    </v-list>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      loaded: false,
      rides: [],
    }
  },
  computed: {
    ...mapState('group', [
      'watcher',
    ]),
    ...mapState({
      group: state => state.group.object,
    }),
  },
  watch: {
    'watcher.proposalRideOverview' () {
      this.refresh()
    },
  },
  mounted () {
    this.refresh()
  },
  methods: {
    refresh () {
      const url = '/api/main/group/' + this.$route.params.id + '/proposal/ride/overview/'
      this.$axios.get(url).then((response) => {
        this.rides = response.data
        this.loaded = true
      })
    },
  },
}
</script>
