<template>
  <v-card-actions>
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="300px"
    >
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" text class="headline grey--text font-weight-bold">
          {{ object.votes_score }}
        </v-btn>
      </template>

      <v-tabs dark>
        <v-tab href="#tab-votes-all">
          Score
          ({{ object.votes_score }})
        </v-tab>
        <v-tab href="#tab-votes-up">
          <v-icon class="mr-2">
            mdi-thumb-up
          </v-icon>
          ({{ object.upvotes.length }})
        </v-tab>
        <v-tab href="#tab-votes-down">
          <v-icon class="mr-2">
            mdi-thumb-down
          </v-icon>
          ({{ object.downvotes.length }})
        </v-tab>
        <v-tab-item value="tab-votes-all">
          <v-card height="300px" flat>
            <v-list>
              <v-list-item v-for="accountId in object.upvotes" :key="accountId">
                <v-list-item-avatar>
                  <v-badge
                    overlap
                    bottom
                    right
                    color="green accent-4"
                  >
                    <template v-slot:badge>
                      <span>
                        <v-icon>mdi-thumb-up</v-icon>
                      </span>
                    </template>
                    <v-avatar>
                      <v-img :src="members[accountId].account.image_src" />
                    </v-avatar>
                  </v-badge>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title v-text="members[accountId].account.user.get_full_name" />
                </v-list-item-content>
              </v-list-item>
              <v-list-item v-for="accountId in object.downvotes" :key="accountId">
                <v-list-item-avatar>
                  <v-badge
                    overlap
                    bottom
                    right
                    color="red darken-1"
                  >
                    <template v-slot:badge>
                      <span>
                        <v-icon>mdi-thumb-down</v-icon>
                      </span>
                    </template>
                    <v-avatar>
                      <v-img :src="members[accountId].account.image_src" />
                    </v-avatar>
                  </v-badge>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title v-text="members[accountId].account.user.get_full_name" />
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </v-tab-item>
        <v-tab-item value="tab-votes-up">
          <v-card height="300px" flat>
            <v-list>
              <v-list-item v-for="accountId in object.upvotes" :key="accountId">
                <v-list-item-avatar>
                  <v-badge
                    overlap
                    bottom
                    right
                    color="green accent-4"
                  >
                    <template v-slot:badge>
                      <span>
                        <v-icon>mdi-thumb-up</v-icon>
                      </span>
                    </template>
                    <v-avatar>
                      <v-img :src="members[accountId].account.image_src" />
                    </v-avatar>
                  </v-badge>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title v-text="members[accountId].account.user.get_full_name" />
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </v-tab-item>
        <v-tab-item value="tab-votes-down">
          <v-card height="300px" flat>
            <v-list>
              <v-list-item v-for="accountId in object.downvotes" :key="accountId">
                <v-list-item-avatar>
                  <v-badge
                    overlap
                    bottom
                    right
                    color="red darken-1"
                  >
                    <template v-slot:badge>
                      <span>
                        <v-icon>mdi-thumb-down</v-icon>
                      </span>
                    </template>
                    <v-avatar>
                      <v-img :src="members[accountId].account.image_src" />
                    </v-avatar>
                  </v-badge>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title v-text="members[accountId].account.user.get_full_name" />
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </v-dialog>
    <v-btn @click="vote(true)" icon>
      <v-icon v-if="voted == true" color="green accent-4">
        mdi-thumb-up
      </v-icon>
      <v-icon v-if="voted != true">
        mdi-thumb-up-outline
      </v-icon>
    </v-btn>
    <v-btn @click="vote(false)" icon>
      <v-icon v-if="voted == false" color="red darken-1">
        mdi-thumb-down
      </v-icon>
      <v-icon v-if="voted != false">
        mdi-thumb-down-outline
      </v-icon>
    </v-btn>
  </v-card-actions>
</template>
<script>
import { mapState } from 'vuex'

export default {
  props: {
    object: {
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      dialog: false,
    }
  },
  computed: {
    voted () {
      const upvoted = this.object.upvotes.includes(this.$auth.user.account.id)
      const downvoted = this.object.downvotes.includes(this.$auth.user.account.id)

      if (upvoted) { return true }
      if (downvoted) { return false }

      return null // if not voted
    },
    ...mapState('group', [
      'members',
    ]),
  },
  methods: {
    vote (trueFalse) {
      if (trueFalse === this.voted) { return } // clicked what already voted

      // update votes server side
      this.$axios.patch(this.object.url_vote, {
        voted: trueFalse,
      }).then((response) => {
        this.$socket.sendObj({
          data: {
            id: response.data.id,
            upvotes: response.data.upvotes,
            downvotes: response.data.downvotes,
            votes_score: response.data.votes_score,
            content_type: response.data.content_type,
            groupId: response.data.group_id,
          },
          account_ids: response.data.account_ids,
          action: 'streamActionVoted',
          namespace: 'group',
        })
      })
    },
  },
}
</script>
