<template>
  <v-list-item-action>
    <div class="d-flex">
      <v-btn @click="approveMember" icon color="primary">
        <v-icon>mdi-account-check</v-icon>
      </v-btn>

      <!-- remove member confirmation dialog -->
      <v-dialog v-model="dialog" max-width="300" transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
          <v-btn v-on="on" icon color="secondary">
            <v-icon>mdi-account-cancel</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-list-item>
            <v-list-item-content>
              <v-card-title class="px-2">
                Confirm
              </v-card-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn @click.stop="dialog = false" icon>
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>

          <v-list-item>
            <v-list-item-avatar>
              <v-img :src="object.account.image_src" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>
                {{ object.account.user.get_full_name }}
              </v-list-item-title>
              <v-list-item-subtitle>
                Requested <timeago :datetime="object.created_at" :auto-update="60" />
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-card-subtitle class="mt-6">
            Are you sure you want to decline this user's request for membership?
          </v-card-subtitle>

          <v-divider />

          <v-card-actions>
            <v-btn @click="declineMember" color="primary">
              Yes
            </v-btn>
            <v-btn @click.stop="dialog = false" color="secondary">
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-list-item-action>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  props: {
    object: {
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      dialog: false,
    }
  },
  computed: {
    ...mapGetters('group', [
      'membersApproved',
    ]),
    ...mapState('group', [
      'members',
    ]),
  },
  methods: {
    approveMember () {
      this.$axios.patch(this.object.url_approve).then((response) => {
        this.$snack.success('Membership approved')

        // send to all approved including account that gets approved
        const accountIds = _.map(this.membersApproved, m => m.account.id)
        accountIds.push(response.data.account.id)

        this.$socket.sendObj({
          data: response.data,
          account_ids: accountIds,
          action: 'membershipUpdate',
          namespace: 'group',
        })
      })
    },
    declineMember () {
      this.$axios.delete(this.object.url_decline).then((response) => {
        this.$snack.queue('Membership declined')

        // send to all approved including account that gets declined
        const accountIds = _.map(this.membersApproved, m => m.account.id)
        accountIds.push(response.data.account_id)

        this.$socket.sendObj({
          data: {
            accountId: response.data.account_id,
            groupId: response.data.group_id,
          },
          account_ids: accountIds,
          action: 'membershipDelete',
          namespace: 'group',
        })
      })
    },
  },
}
</script>
