<template>
  <v-list-item @click="report.dialog = true">
    <v-list-item-title>
      <v-icon left>
        mdi-alert-circle
      </v-icon>
      Report
    </v-list-item-title>
    <v-dialog v-model="report.dialog" max-width="600px">
      <v-card :loading="report.loading">
        <v-list-item>
          <v-list-item-content>
            <v-card-title class="px-2">
              Report group
            </v-card-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn @click.stop="report.dialog = false" icon>
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>

        <v-card-subtitle>
          Help us understand what's going on. What is the reason you are reporting the group?
        </v-card-subtitle>

        <v-card-text>
          <v-chip-group
            v-model="report.chipGroup"
            active-class="primary--text"
            column
            multiple
          >
            <v-chip
              v-for="reason in $store.state.groupReportReasons"
              :key="reason.id"
              :value="reason.id"
              :disabled="report.sent"
              filter
              large
            >
              {{ reason.label }}
            </v-chip>
          </v-chip-group>

          <v-text-field
            ref="reportReasonsOtherTextField"
            v-if="report.reasonsOtherTextField"
            v-model="report.reasonsOtherValue"
            @keydown.enter="reportGroup"
            :disabled="report.sent"
            label="Tell us your reason"
            dense
            outlined
          />
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            @click="reportGroup"
            :loading="report.loading"
            :disabled="report.sent"
            color="primary"
          >
            <span v-if="report.sent">
              Reported
            </span>
            <span v-else>
              Report
            </span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-list-item>
</template>
<script>
export default {
  props: {
    groupId: {
      type: Number,
      required: true,
    },
  },
  data () {
    return {
      report: {
        dialog: false,
        loading: false,
        chipGroup: [],
        reasonsOtherTextField: false,
        reasonsOtherValue: '',
        sent: false,
      },
    }
  },
  methods: {
    reportGroup () {
      if (this.report.chipGroup.length === 0) {
        this.$snack.error('Please select at least one reason')
        return false
      }
      if (this.report.reasonsOtherTextField && this.report.reasonsOtherValue === '') {
        this.$snack.error('Please tell us your reason')
        this.$refs.reportReasonsOtherTextField.$refs.input.focus()
        return false
      }

      this.report.loading = true
      this.$axios.post(`/api/main/group/${this.groupId}/report/`, {
        group: this.groupId,
        account: this.$auth.user.account.id,
        reasons: this.report.chipGroup,
        reasons_other: this.report.reasonsOtherValue,
      }).then((response) => {
        this.report.loading = false
        this.report.sent = true
        this.$snack.success("We've got it. Thanks for your time!")
      })
    },
  },
}
</script>
