<template>
  <v-menu
    v-model="menu"
    v-if="canDelete"
    :close-on-content-click="false"
    offset-y
    nudge-left="164"
  >
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>
    <v-list width="200">
      <v-list-item v-if="canDelete" @click="dialog.delete = true">
        <v-list-item-title>
          <v-icon left>
            mdi-delete
          </v-icon>
          Delete
        </v-list-item-title>
        <v-dialog
          v-model="dialog.delete"
          max-width="600px"
        >
          <v-card>
            <v-list-item>
              <v-list-item-content>
                <v-card-title class="px-2">
                  Are you sure you want to delete?
                </v-card-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn @click="dialog.delete = false" icon>
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
            <v-card-subtitle>
              Once you delete it, it's gone forever. Please confirm your action.
            </v-card-subtitle>

            <v-divider />

            <v-card-actions>
              <v-btn @click="deleteMe" color="primary">
                Delete
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-list-item>
    </v-list>
  </v-menu>
</template>
<script>
import { mapState } from 'vuex'

export default {
  props: {
    object: {
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      menu: false,
      dialog: {
        delete: false,
      },
    }
  },
  computed: {
    ...mapState('group', [
      'members',
    ]),
    canDelete () {
      return this.$auth.user.account.id === this.object.created_by.id
    },
  },
  methods: {
    deleteMe () {
      this.$axios.delete(this.object.url_delete).then((response) => {
        this.$socket.sendObj({
          data: {
            id: this.object.id,
            contentType: response.data.content_type,
            groupId: response.data.group_id,
          },
          account_ids: _.keys(this.members),
          action: 'streamActionDeleted',
          namespace: 'group',
        })
        this.$snack.queue('Deleted')
        this.$destroy()
      })
    },
  },
}
</script>
