<template>
  <div>
    <v-container class="pt-0">
      <v-row>
        <v-col>
          <v-card v-if="object" :loading="loading">
            <v-card-title>{{ object.city.display_name }}</v-card-title>
            <v-card-subtitle>
              <span v-if="similarCount <= 1">
                Someone else is also searching for a trip to this city.
              </span>
              <span v-else-if="similarCount <= 10">
                Other people are searching for a trip to this city.
              </span>
              <span v-else>
                10+ people are searching for a trip to this city.
              </span>
              <span v-if="$auth.loggedIn">
                <br>
                <br>
                Create a group and connect with other likeminded trippers.
              </span>
              <span v-else>
                <br>
                <br>
                You need to be a member to create a group and connect with other likeminded trippers.  Sign up now, it's free!
              </span>
            </v-card-subtitle>
            <v-card-text v-if="$auth.loggedIn">
              <v-menu
                v-model="date.startShow"
                :close-on-content-click="false"
                min-width="290px"
                offset-y
                transition="scale-transition"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="dateStartLabel"
                    v-on="on"
                    hide-details
                    label="Leave date"
                    outlined
                    prepend-inner-icon="mdi-calendar-range"
                    readonly
                  />
                </template>
                <v-date-picker
                  v-model="date.start"
                  :min="date.startMin"
                  no-title
                />
              </v-menu>
              <v-menu
                v-model="date.endShow"
                :close-on-content-click="false"
                min-width="290px"
                offset-y
                transition="scale-transition"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="dateEndLabel"
                    v-on="on"
                    hide-details
                    class="mt-4"
                    label="Return date"
                    outlined
                    prepend-inner-icon="mdi-calendar-range"
                    readonly
                  />
                </template>
                <v-date-picker
                  v-model="date.end"
                  :min="date.endMin"
                  no-title
                />
              </v-menu>

              <v-autocomplete
                v-model="selectedInterests"
                :items="interests"
                chips
                class="mt-4"
                item-text="name"
                item-value="id"
                label="Trip interests"
                hide-details
                multiple
                outlined
                prepend-inner-icon="mdi-checkbox-multiple-blank"
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    @click="data.select"
                    @click:close="remove(data.item.id)"
                    :input-value="data.selected"
                    close
                  >
                    <v-avatar left>
                      <v-img :src="data.item.image.urls.thumb" />
                    </v-avatar>
                    {{ data.item.name }}
                  </v-chip>
                </template>
                <template v-slot:item="data">
                  <v-list-item-avatar>
                    <v-img :src="data.item.image.urls.thumb" />
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-html="data.item.name" />
                  </v-list-item-content>
                </template>
              </v-autocomplete>
            </v-card-text>
            <v-card-actions>
              <v-btn
                v-if="$auth.loggedIn"
                @click="createGroup"
                :loading="loading"
                color="primary"
              >
                Create
              </v-btn>
              <v-btn
                v-else
                :to="{ name: 'sign-up' }"
                nuxt
                color="primary"
                class=""
              >
                Sign Up
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container v-if="object">
      <upcoming-trips
        :url="`/api/main/explore/city/${object.city.id}/group/list/`"
        hide-starts-at-filter
      />
    </v-container>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import moment from 'moment'

import UpcomingTrips from '~/components/UpcomingTrips.vue'
import UnsplashCredits from '~/components/UnsplashCredits.vue'

export default {
  name: 'SearchDetail',
  components: {
    UpcomingTrips,
  },
  data () {
    return {
      object: null,
      similarCount: null,
      loading: false,
      selectedInterests: [],
      date: {
        start: '',
        startMin: moment().format('YYYY-MM-DD'),
        startShow: false,
        end: '',
        endMin: moment().format('YYYY-MM-DD'),
        endShow: false,
      },
    }
  },
  computed: {
    ...mapState([
      'interests',
    ]),
    dateStartLabel () {
      if (this.date.start === '') {
        return ''
      }
      return moment(this.date.start).format('dddd, Do of MMM')
    },
    dateEndLabel () {
      if (this.date.end === '') {
        return ''
      }
      return moment(this.date.end).format('dddd, Do of MMM')
    },
  },
  watch: {
    'date.start' (val) {
      this.date.endMin = moment(val).add(1, 'days').format('YYYY-MM-DD')
      this.date.end = ''

      this.date.startShow = false
      this.date.endShow = true
    },
    'date.end' (val) {
      if (val === '') {
        return
      }
      this.date.startShow = false
      this.date.endShow = false
    },
    async '$route' () {
      await this.fetch()
    },
  },
  async mounted () {
    await this.fetch()
  },
  methods: {
    createGroup () {
      if (this.date.start === '') {
        this.$snack.queue('Please choose leave date')
        this.date.startShow = true
        return false
      }
      if (this.date.end === '') {
        this.$snack.queue('Please choose return date')
        this.date.endShow = true
        return false
      }
      if (this.selectedInterests.length === 0) {
        this.$snack.queue('You have to select at least one travel interest')
        return false
      }
      this.loading = true
      this.$axios.post('/api/main/group/create/', {
        city: this.object.city.id,
        name: this.object.city.display_name,
        interests: this.selectedInterests,
        starts_at: this.date.start,
        ends_at: this.date.end,
      }).then((response) => {
        this.loading = false
        this.$router.push({
          name: 'group-slug-id',
          params: response.data,
        })
      })
    },
    remove (item) {
      const index = this.selectedInterests.indexOf(item)
      if (index >= 0) {
        this.selectedInterests.splice(index, 1)
      }
    },
    snackUnsplashCredits (image) {
      if (image.dummy) {
        return false
      }

      const Klass = Vue.extend(UnsplashCredits)
      const credits = new Klass({ propsData: { image } })
      credits.$mount()
      this.$snack.queue(credits.$el.innerHTML)
      credits.$destroy()
    },
    async fetch () {
      const response = await this.$axios.get('/api/main/search/' + this.$route.params.slug + '/')
      this.object = response.data.object
      this.similarCount = response.data.similar_count
    },
  },
}
</script>
