<template>
  <div>
    <v-container v-if="!$route.params.slug" class="pt-0">
      <back-bar title="Explore locations" />

      <v-row
        v-for="(countries, continent_name) in groupedObjects"
        :key="continent_name"
        dense
      >
        <v-col cols="12">
          <v-list-item>
            <v-list-item-title>
              {{ continent_name }}
            </v-list-item-title>
          </v-list-item>
        </v-col>
        <v-col
          v-for="country in countries"
          :key="country.id"
          cols="12"
          sm="6"
          md="4"
        >
          <v-card-country :object="country" />
        </v-col>
        <v-col cols="12">
          <v-divider />
        </v-col>
      </v-row>
      <infinite-loading @infinite="infinite">
        <v-row slot="spinner">
          <v-col cols="12">
            <v-skeleton-loader type="chip" />
          </v-col>
          <v-col cols="12" sm="6" md="4">
            <v-skeleton-loader type="card" />
          </v-col>
          <v-col cols="12" sm="6" md="4">
            <v-skeleton-loader type="card" />
          </v-col>
          <v-col cols="12" sm="6" md="4">
            <v-skeleton-loader type="card" />
          </v-col>
        </v-row>
        <div slot="no-more" />
        <div slot="no-results" />
      </infinite-loading>
    </v-container>
    <nuxt-child v-else :key="$route.params.slug" />
  </div>
</template>
<script>
import BackBar from '~/components/BackBar.vue'
import VCardCountry from '~/components/VCardCountry.vue'

export default {
  name: 'ExploreCountryList',
  components: {
    BackBar,
    VCardCountry,
  },
  data () {
    return {
      objects: {
        results: [],
        next: '/api/main/explore/country/list/',
        count: null,
      },
    }
  },
  computed: {
    groupedObjects () {
      return _.groupBy(this.objects.results, 'continent_name')
    },
  },
  methods: {
    infinite ($state) {
      if (this.objects.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.objects.next).then((response) => {
        this.objects.results.push(...response.data.results)
        this.objects.next = response.data.next

        if (!this.objects.count) {
          this.objects.count = response.data.count
        }
        $state.loaded()
      })
    },
  },
}
</script>
