<template>
  <div>
    <v-container v-if="!$route.params.slug" class="pt-0">
      <back-bar title="Explore interests" />

      <v-row dense>
        <v-col
          v-for="interest in objects.results"
          :key="interest.id"
          cols="12"
          sm="6"
          md="4"
        >
          <v-card
            :to="`/explore/interest/${interest.slug}`"
            tile
            nuxt
          >
            <unsplash-image :image="interest.image" aspect-ratio="1.7" />
            <v-list-item>
              <v-list-item-title>
                {{ interest.name }}
              </v-list-item-title>
            </v-list-item>
          </v-card>
        </v-col>
      </v-row>
      <infinite-loading @infinite="infinite">
        <v-row slot="spinner">
          <v-col cols="12" sm="6" md="4">
            <v-skeleton-loader type="card" />
          </v-col>
          <v-col cols="12" sm="6" md="4">
            <v-skeleton-loader type="card" />
          </v-col>
          <v-col cols="12" sm="6" md="4">
            <v-skeleton-loader type="card" />
          </v-col>
        </v-row>
        <div slot="no-more" />
        <div slot="no-results" />
      </infinite-loading>
    </v-container>
    <nuxt-child v-else :key="$route.params.slug" />
  </div>
</template>
<script>
import BackBar from '~/components/BackBar.vue'
import UnsplashImage from '~/components/UnsplashImage.vue'

export default {
  name: 'ExploreInterestList',
  components: {
    BackBar,
    UnsplashImage,
  },
  data () {
    return {
      objects: {
        results: [],
        next: '/api/main/explore/interest/list/',
        count: null,
      },
    }
  },
  methods: {
    infinite ($state) {
      if (this.objects.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.objects.next).then((response) => {
        this.objects.results.push(...response.data.results)
        this.objects.next = response.data.next

        if (!this.objects.count) {
          this.objects.count = response.data.count
        }
        $state.loaded()
      })
    },
  },
}
</script>
