<template>
  <div />
</template>

<script>
export default {
  name: 'InvitationDecline',
  middleware: ['auth'],
  mounted () {
    const url = '/api/main/invitation/' + this.$route.params.hashid + '/decline/'

    this.$axios.post(url).then((response) => {
      const message = response.data.message
      this.$snack.error(message)

      this.$router.push({
        name: 'index',
        params: this.$route.params,
      })
    }).catch((error) => {
      const message = error.response.data.message
      this.$snack.error(message)
      this.$router.push({
        name: 'index',
        params: this.$route.params,
      })
    })
  },
}
</script>
