<template>
  <v-container>
    <v-row>
      <v-col xs="12" sm="8" offset-sm="2">
        <v-card v-if="object" :loading="loading.accept || loading.decline">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="title">
                Let's go to {{ object.group.name }}!
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-parallax
            :src="object.group.image.urls.regular"
            :lazy-src="object.group.image.urls.thumb"
            height="300"
          />

          <v-card-subtitle>
            <div class="">
              {{ object.group.city.display_name }}
            </div>
            <div>
              {{ object.group.starts_at|formatDate("MMMM Do") }}
              <v-icon>mdi-circle-small</v-icon>
              {{ object.group.ends_at|formatDate("MMMM Do") }}
              <v-icon>mdi-circle-small</v-icon>
              <span v-if="object.group.duration_nights == 1">
                1 night
              </span>
              <span v-else>
                {{ object.group.duration_nights }} nights
              </span>
            </div>
          </v-card-subtitle>

          <v-slide-group multiple>
            <v-slide-item
              v-for="interest in object.group.interests"
              :key="interest.id"
            >
              <v-chip
                class="ml-1 mb-2"
              >
                <v-avatar left>
                  <v-img :src="interest.image.urls.thumb" />
                </v-avatar>
                {{ interest.name }}
              </v-chip>
            </v-slide-item>
          </v-slide-group>

          <v-card-text>
            This invitation was sent to you by <b>{{ object.created_by.user.get_full_name }}</b>
          </v-card-text>

          <v-divider />

          <v-card-actions>
            <v-spacer />
            <v-btn
              :href="'/invitation/accept/' + object.ref_id"
              :loading="loading.accept"
              @click="loading.accept = true"
              color="primary"
              link
              nuxt
            >
              Accept
            </v-btn>
            <v-btn
              :href="'/invitation/decline/' + object.ref_id"
              :loading="loading.decline"
              @click="loading.decline = true"
              color="secondary"
              link
              nuxt
            >
              Decline
            </v-btn>
          </v-card-actions>
        </v-card>
        <v-card v-else>
          <v-skeleton-loader type="list-item-avatar-two-line" />
          <v-skeleton-loader type="card" />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'InvitationDetail',
  data () {
    return {
      object: null,
      loading: {
        accept: false,
        decline: false,
      },
    }
  },
  mounted () {
    this.$axios.get(`/api/main/invitation/${this.$route.params.hashid}/`).then((response) => {
      this.object = response.data
    })
  },
}
</script>
