<template>
  <v-app v-if="mounted">
    <template v-if="$auth.loggedIn">
      <v-navigation-drawer v-model="drawer" app temporary right>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              {{ $auth.user.account.user.get_full_name }}
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ $auth.user.account.user.email }}
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-avatar>
            <v-avatar
              @click.stop="drawer = !drawer"
              size="40"
              style="cursor: pointer;"
            >
              <v-img :src="$auth.user.account.image_src" />
            </v-avatar>
          </v-list-item-avatar>
        </v-list-item>

        <v-list>
          <v-list-item nuxt to="/group/list">
            <v-list-item-icon>
              <v-icon>mdi-card-text</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                My trips
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-divider />

          <v-subheader>Settings</v-subheader>

          <v-list-item @click="toggleDarkMode">
            <v-list-item-icon>
              <v-icon>mdi-invert-colors</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                Dark theme
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-switch v-model="isDark" @click="toggleDarkMode" color="primary" />
            </v-list-item-action>
          </v-list-item>

          <v-divider />

          <v-subheader>Log out</v-subheader>

          <logout-list-item />
        </v-list>
      </v-navigation-drawer>
    </template>

    <v-app-bar ref="appBar" app elevate-on-scroll fixed>
      <nuxt-link to="/">
        <img src="/static/img/logo.png?v=1" alt="TripperBay">
      </nuxt-link>

      <v-spacer />

      <template v-if="$auth.loggedIn">
        <v-btn v-if="$auth.user.account.user.is_superuser" icon nuxt to="/admin">
          <v-icon>mdi-account-tie</v-icon>
        </v-btn>

        <v-btn icon nuxt to="/notifications">
          <v-badge
            :content="notifications.count_unread"
            :value="notifications.count_unread != 0"
            color="red"
            left
            bottom
            overlap
            offset-y="2"
          >
            <v-icon>
              mdi-bell-outline
            </v-icon>
          </v-badge>
        </v-btn>

        <v-btn nuxt to="/chat" icon>
          <v-badge
            :content="rooms.count_unread"
            :value="rooms.count_unread != 0"
            color="red"
            left
            bottom
            overlap
            offset-y="2"
          >
            <v-icon size="22">
              mdi-message-outline
            </v-icon>
          </v-badge>
        </v-btn>
      </template>
    </v-app-bar>

    <v-content ref="content">
      <nuxt />
      <snackbar-queue />
    </v-content>

    <v-bottom-navigation grow app>
      <v-btn nuxt to="/">
        <span>Home</span>
        <v-icon>mdi-home</v-icon>
      </v-btn>
      <v-btn nuxt to="/explore">
        <span>Explore</span>
        <v-icon>mdi-compass-outline</v-icon>
      </v-btn>

      <template v-if="$auth.loggedIn">
        <v-btn nuxt to="/group/create">
          <span>Trip</span>
          <v-icon>mdi-plus-box-outline</v-icon>
        </v-btn>
        <v-btn nuxt to="/search">
          <span>Search</span>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
        <v-btn @click.stop="drawer = !drawer">
          <span>{{ $auth.user.account.user.first_name }}</span>
          <v-avatar size="26">
            <v-img :src="$auth.user.account.image_src" />
          </v-avatar>
        </v-btn>
      </template>
      <template v-else>
        <v-btn nuxt to="/sign-up">
          <span>Sign Up</span>
          <v-icon>mdi-account-plus-outline</v-icon>
        </v-btn>
        <v-btn nuxt to="/login">
          <span>Log In</span>
          <v-icon>mdi-login</v-icon>
        </v-btn>
      </template>
    </v-bottom-navigation>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import LogoutListItem from '~/components/LogoutListItem.vue'
import SnackbarQueue from '~/components/SnackbarQueue.vue'

export default {
  head () {
    return {
      script: [
      ],
      link: [
      ],
    }
  },
  components: {
    LogoutListItem,
    SnackbarQueue,
  },
  data () {
    return {
      loginDialogShown: false,
      drawer: false,
      mounted: false,
    }
  },
  computed: {
    ...mapState([
      'isDark',
      'notifications',
    ]),
    ...mapState('chat', [
      'rooms',
    ]),
  },
  created () {
    this.$store.dispatch('fetchInterestList')
    this.$store.dispatch('fetchCurrencyList')
    this.$store.dispatch('fetchGroupReportReasonList')
  },
  mounted () {
    this.$root.$refs.default = this

    // fetch gem counters
    if (this.$auth.loggedIn) {
      this.$axios.get('/api/main/account/notifications/count/unread/').then((response) => {
        this.$store.commit('NOTIFICATIONS_SET_COUNT_UNREAD', response.data)
      })
      this.$axios.get('/api/chat/message/count/unread/').then((response) => {
        this.$store.commit('chat/ROOMS_SET_COUNT_UNREAD', response.data)
      })
    }

    // avoid Failed to execute 'appendChild' on 'Node'
    // https://github.com/nuxt/nuxt.js/issues/5800
    // to reproduce: close chrome, open it again, go to / (first time only)
    setTimeout(() => {
      this.mounted = true
    }, 10)
  },
  methods: {
    toggleDarkMode () {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
      this.$store.commit('SET_STATE', { key: 'isDark', value: this.$vuetify.theme.dark })
    },
  },
}
</script>

<style>
.lobster {font-family: 'Lobster Two' !important; }

.scroll-y {overflow-y: scroll;}
.flat-link {
  text-decoration: none;
  color: inherit !important;
}
.flat-link:hover {
  text-decoration: underline;
}
.dark-fade-020 { background: rgba(0, 0, 0, 0.2); }
.dark-fade-050 { background: rgba(0, 0, 0, 0.5); }
</style>
