<template>
  <v-card-unsplash :object="object" @modified="saved = false">
    <template v-slot:card-heading>
      <v-card-title>
        {{ object.name }}, {{ object.continent }}
      </v-card-title>
    </template>

    <template v-slot:card-actions>
      <v-spacer />
      <v-btn @click="save" :disabled="saved" :loading="loading" color="primary">
        Save
      </v-btn>
    </template>
  </v-card-unsplash>
</template>

<script>
import VCardUnsplash from '~/components/admin/VCardUnsplash.vue'

export default {
  components: { VCardUnsplash },
  props: {
    object: {
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      loading: false,
      saved: true,
    }
  },
  methods: {
    async save () {
      this.loading = true
      await this.$axios.patch(`/api/main/unsplash/country/${this.object.id}/update/`, {
        id: this.object.id,
        images: this.object.images,
      })
      this.loading = false
      this.saved = true
    },
  },
}
</script>
