<template>
  <v-card-unsplash :object="object" @modified="saved = false">
    <template v-slot:card-heading>
      <v-card-title>
        {{ object.name }}
      </v-card-title>
    </template>

    <template v-slot:card-actions>
      <v-btn @click="toggleActive" icon>
        <v-icon v-if="object.is_active" color="green">
          mdi-check-bold
        </v-icon>
        <v-icon v-else color="red">
          mdi-close-circle
        </v-icon>
      </v-btn>
      <v-spacer />
      <v-btn @click="save" :disabled="saved" :loading="loading" color="primary">
        Save
      </v-btn>
    </template>
  </v-card-unsplash>
</template>

<script>
import VCardUnsplash from '~/components/admin/VCardUnsplash.vue'

export default {
  components: { VCardUnsplash },
  props: {
    object: {
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      loading: false,
      saved: true,
    }
  },
  methods: {
    toggleActive () {
      this.object.is_active = !this.object.is_active
      this.saved = false
    },
    async save () {
      this.loading = true
      await this.$axios.patch(`/api/main/unsplash/interest/${this.object.id}/update/`, {
        id: this.object.id,
        is_active: this.object.is_active,
        images: this.object.images,
      })
      this.loading = false
      this.saved = true
    },
  },
}
</script>
