<template>
  <v-card :loading="loading">
    <slot name="card-heading" />

    <v-card-text>
      <v-row>
        <v-col
          v-for="(image, i) in object.images"
          :key="i"
          cols="2"
        >
          <v-dialog height="800px">
            <template v-slot:activator="{ on }">
              <v-img
                v-ripple
                v-on="on"
                :src="image.urls.small"
                :lazy-src="image.urls.thumb"
                style="cursor:pointer;"
              >
                <div class="d-flex">
                  <v-spacer />
                  <v-btn @click.stop="removeImage(i)" icon dark>
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </div>
              </v-img>
            </template>
            <v-card class="d-flex">
              <v-card flat tile height="800px" class="scroll-y">
                <v-card-text>
                  <div v-for="(value, key) in image" v-if="key !== 'user'" :key="key">
                    <div v-text="key" class="font-weight-bold text-center" />
                    <div v-if="Array.isArray(value)">
                      <div v-for="(v, $i) in value" :key="$i">
                        <span v-text="$i" class="font-weight-bold caption" />
                        {{ v }}
                      </div>
                    </div>
                    <div v-else-if="value instanceof Object">
                      <div v-for="(v, k) in value" :key="k">
                        <div v-text="k" class="font-weight-bold caption" />
                        {{ v }}
                      </div>
                    </div>
                    <div v-else>
                      {{ value }}
                    </div>
                    <v-divider />
                  </div>
                </v-card-text>
              </v-card>
              <v-img
                :src="image.urls.regular"
                :lazy-src="image.urls.thumb"
              />
            </v-card>
          </v-dialog>
        </v-col>
      </v-row>
    </v-card-text>

    <v-divider />

    <v-card-actions>
      <v-text-field
        v-model="unsplashUrl"
        label="Unsplash URL"
        prepend-inner-icon="mdi-camera-image"
        dense
        outlined
        hide-details
        style="max-width: 200px;"
      />
      <v-btn @click="unsplash" :loading="loading" color="primary" text>
        ADD
      </v-btn>

      <slot name="card-actions" />
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    object: {
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      loading: false,
      unsplashUrl: '',
    }
  },
  methods: {
    async unsplash () {
      if (this.unsplashUrl === '') {
        this.$snack.queue('Paste unsplash URL')
        return false
      }
      if (!this.unsplashUrl.startsWith('https://unsplash.com/photos/')) {
        this.$snack.queue('Paste a valid unsplash URL')
        return false
      }
      this.loading = true
      const photoId = this.unsplashUrl.replace('https://unsplash.com/photos/', '')

      this.$snack.queue(`Fetching ${photoId}`)

      try {
        const response = await this.$axios.post('/api/unsplash/photo/', {
          id: photoId,
        })
        this.object.images.push(response.data)
        this.loading = false
        this.unsplashUrl = ''

        this.$emit('modified')
      } catch (error) {
        this.$snack.queue(error)
        this.loading = false
      }
    },
    removeImage (index) {
      this.object.images = _.filter(this.object.images, (image, i) => {
        return i !== index
      })
      this.$emit('modified')
    },
  },
}
</script>
