<template>
  <div>
    <v-card v-if="object" max-width="600" class="mx-auto mt-4">
      <v-card-actions>
        <v-btn @click="$router.go(-1)" icon>
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
      </v-card-actions>
      <v-card-title class="subtitle-1">
        @{{ $route.params.username }}
      </v-card-title>
    </v-card>
    <v-skeleton-loader
      v-else
      class="mx-auto mt-4"
      max-width="300"
      type="image"
    />
  </div>
</template>

<script>

export default {
  name: 'CatchAllTemp',
  data () {
    return {
      // object: null,
      object: true,
    }
  },
  _mounted () {
    this.$axios.get('/api/username/' + this.$route.params.username + '/').then((response) => {
      this.object = response.data
    })
  },
  methods: {
  },
}
</script>
