<template>
  <v-container fluid>
    <v-tabs class="mb-4">
      <v-tab nuxt to="/admin">
        <span class="caption">
          Admin Dashboard
        </span>
      </v-tab>
      <v-tab nuxt to="/admin/interests">
        <span class="caption">
          Interests
        </span>
      </v-tab>
      <v-tab nuxt to="/admin/countries">
        <span class="caption">
          Countries
        </span>
      </v-tab>
      <v-tab nuxt to="/admin/cities">
        <span class="caption">
          Cities
        </span>
      </v-tab>
    </v-tabs>
    <nuxt-child ref="child" />
  </v-container>
</template>

<script>
export default {
  name: 'Admin',
  middleware: 'admin-only',
  data () {
    return {
    }
  },
  methods: {
  },
}
</script>
