<template>
  <v-container fluid class="pa-0">
    <v-divider />
    <v-row no-gutters>
      <v-col cols="12" md="4">
        <v-card tile>
          <v-list class="pb-0">
            <v-list-item>
              <v-list-item-avatar>
                <v-img :src="$auth.user.account.image_src" />
              </v-list-item-avatar>
              <v-list-item-content class="pa-0">
                <v-list-item-title class="d-flex py-2">
                  <v-switch
                    v-model="showChats"
                    color="primary"
                    hide-details
                    class="mt-0 pt-0"
                  >
                    <template v-slot:prepend>
                      <span class="caption">
                        Chats
                      </span>
                    </template>
                  </v-switch>
                  <v-switch
                    v-model="showGroupChats"
                    color="primary"
                    hide-details
                    class="mt-0 pt-0"
                  >
                    <template v-slot:prepend>
                      <div class="caption">
                        GroupChats
                      </div>
                    </template>
                  </v-switch>
                </v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn @click="scrollAndFocusAutocomplete" icon>
                  <v-icon>
                    mdi-magnify
                  </v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>

          <!-- ac search and room listing -->
          <v-list ref="roomsWrap" class="pt-0">
            <v-autocomplete
              ref="autocomplete"
              v-model="autocomplete.room"
              :items="autocomplete.items"
              :loading="autocomplete.loading"
              :search-input.sync="autocomplete.search"
              class="mx-0 mb-1"
              clearable
              filled
              hide-details
              hide-no-data
              label="Search for a person or group"
              prepend-inner-icon="mdi-account-group"
            >
              <template v-slot:item="{ item }">
                <v-list-item-avatar>
                  <v-img :src="getRoomImage(item.value)" />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>
                    <span v-text="getRoomName(item.value)" />

                    <span v-if="item.value.count_unread" class="">
                      ({{ item.value.count_unread }})
                    </span>
                  </v-list-item-title>
                  <v-list-item-subtitle v-if="item.value.last_message">
                    <span
                      v-if="item.value.last_message.created_by.id == $auth.user.account.id"
                      class="text--primary"
                    >
                      You:
                    </span>
                    <span
                      v-else-if="item.value.group"
                      class="text--primary"
                    >
                      {{ item.value.last_message.created_by.user.first_name }}:
                    </span>

                    {{ item.value.last_message.text }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </template>
            </v-autocomplete>
            <v-list-item
              v-for="item in rooms.results"
              v-show="item.group ? showGroupChats : showChats"
              :key="item.id"
              :class="{
                'grey lighten-2': room && item.id == room.id && !isDark,
                'grey darken-2': room && item.id == room.id && isDark,
              }"
              :to="`/chat/${item.ref_id}`"
              nuxt
            >
              <v-list-item-avatar>
                <v-img :src="getRoomImage(item)" />
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  <span v-text="getRoomName(item)" />

                  <span v-if="item.count_unread" class="">
                    ({{ item.count_unread }})
                  </span>
                </v-list-item-title>
                <v-list-item-subtitle v-if="item.last_message">
                  <span
                    v-if="item.last_message.created_by.id == $auth.user.account.id"
                    class="text--primary"
                  >
                    You:
                  </span>
                  <span
                    v-else-if="item.group"
                    class="text--primary"
                  >
                    {{ item.last_message.created_by.user.first_name }}:
                  </span>

                  {{ item.last_message.text }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <infinite-loading ref="roomsInfinite" @infinite="roomsInfinite">
              <div slot="spinner">
                <v-skeleton-loader type="list-item-avatar-two-line" />
                <v-skeleton-loader type="list-item-avatar-two-line" />
                <v-skeleton-loader type="list-item-avatar-two-line" />
              </div>

              <div slot="no-more" />
              <div slot="no-results" />
            </infinite-loading>
          </v-list>
        </v-card>
      </v-col>
      <v-col cols="12" md="8">
        <nuxt-child v-if="$route.params.hashid" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ChatRoomList',
  middleware: ['auth'],
  data () {
    return {
      autocomplete: {
        show: true,
        loading: false,
        items: [],
        search: '',
        room: null,
      },
      showChats: true,
      showGroupChats: true,
    }
  },
  computed: {
    ...mapState([
      'isDark',
    ]),
    ...mapState('chat', [
      'rooms',
      'room',
    ]),
  },
  watch: {
    'autocomplete.search' (val) {
      if (val == null || val === '') {
        this.autocomplete.room = null
        return false
      }
      if (this.autocomplete.room == null) {
        return this.roomSearch(val)
      }
    },
    'autocomplete.room' (room) {
      if (!room) {
        return
      }
      if (typeof (room.id) === 'string') {
        this.$router.push({
          name: 'chat-hashid',
          params: { hashid: room.id, room },
        })
      } else {
        this.$router.push(`/chat/${room.ref_id}`)
      }
    },
  },
  mounted () {
    if (!process.browser) {
      return
    }
    this.roomSearch = _.debounce(this.roomSearch, 300)

    this.$nextTick(() => {
      this.setHeights()
      window.addEventListener('resize', this.setHeights)
    })
  },
  beforeDestroy () {
    // this.$store.commit('chat/ROOMS_CLEAR')
    window.removeEventListener('resize', this.setHeights)
  },
  methods: {
    setHeights () {
      if (process.browser) {
        const main = this.$root.$refs.default.$refs.content.$el
        const header = window.getComputedStyle(main).getPropertyValue('padding-top').slice(0, -2)
        const footer = window.getComputedStyle(main).getPropertyValue('padding-bottom').slice(0, -2)

        this.$refs.roomsWrap.$el.classList.add('scroll-y')
        this.$refs.roomsWrap.$el.style.height = (
          window.innerHeight -
          this.$refs.roomsWrap.$el.offsetTop -
          Number(header) -
          Number(footer) - 1
        ) + 'px'
      }
    },
    scrollAndFocusAutocomplete () {
      setTimeout(() => {
        this.$refs.autocomplete.focus()
        this.$refs.roomsWrap.$el.scrollTop = 0
      }, 10)
    },
    getRoomImage (room) {
      if (room.group) {
        return room.group.image.urls.thumb
      }
      let imageSrc = ''
      _.each(room.accounts, (account) => {
        if (account.id !== this.$auth.user.account.id) {
          imageSrc = account.image_src
          return false
        }
      })
      return imageSrc
    },
    getRoomName (room) {
      if (room.group) {
        return room.group.name
      }
      let name = ''
      _.each(room.accounts, (account) => {
        if (account.id !== this.$auth.user.account.id) {
          name = account.user.get_full_name
          return false
        }
      })

      return name
    },
    roomsInfinite ($state) {
      if (this.rooms.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.rooms.next).then((response) => {
        this.$store.commit('chat/ROOMS_INFINITE', response.data)
        $state.loaded()
      })
    },
    roomSearch (val) {
      this.autocomplete.loading = true
      this.$axios.get('/api/chat/room/create/?q=' + val).then((response) => {
        this.autocomplete.items = response.data
        this.autocomplete.loading = false
      })
    },
  },
}
</script>
