<template>
  <div>
    <v-container v-if="$route.name === 'explore'">
      <v-row dense>
        <v-col cols="12" class="mb-6 text-center">
          <h1 class="lobster">
            Explore
            <span class="primary--text">Tripper</span>Bay
          </h1>
        </v-col>
        <v-col cols="12" sm="4">
          <v-card nuxt to="/explore/country">
            <v-list-item>
              <v-list-item-avatar>
                <v-icon>
                  mdi-earth
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  Locations
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-col>
        <v-col cols="12" sm="4">
          <v-card nuxt to="/explore/interest">
            <v-list-item>
              <v-list-item-avatar>
                <v-icon>
                  mdi-checkbox-multiple-blank
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  Interests
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-col>
        <v-col cols="12" sm="4">
          <v-card nuxt to="/search">
            <v-list-item>
              <v-list-item-avatar>
                <v-icon>
                  mdi-magnify
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  Search
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-col>
      </v-row>

      <upcoming-trips stored url="__stored__" class="mt-4" />
    </v-container>

    <nuxt-child :key="$route.name" />
  </div>
</template>
<script>
import UpcomingTrips from '~/components/UpcomingTrips.vue'

export default {
  name: 'Explore',
  components: {
    UpcomingTrips,
  },
}
</script>
