<template>
  <div class="d-flex flex-column-reverse">
    <v-card v-if="hotCities.length" flat tile>
      <v-container>
        <v-row>
          <v-col class="text-center">
            <v-icon color="red darken-1" class="mb-1 mr-2" size="42">
              mdi-fire
            </v-icon>
            <h2>
              Hot Destinations
            </h2>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col
            v-for="city in hotCities"
            :key="city.id"
            cols="12"
            sm="6"
            md="4"
          >
            <v-card-city :object="city" />
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <v-carousel
      ref="carousel"
      v-if="images.length !== 0"
      :show-arrows="false"
      :height="carouselHeight"
      interval="10000"
      hide-delimiters
      cycle
    >
      <v-carousel-item
        v-for="(image, i) in images"
        :key="i"
        :src="image.urls.full"
        :lazy-src="image.urls.thumb"
        reverse-transition="fade-transition"
        transition="fade-transition"
      >
        <unsplash-credits :image="image" />
      </v-carousel-item>
    </v-carousel>
    <v-card
      v-else
      :height="carouselHeight"
      flat
      tile
    >
      <v-skeleton-loader type="image" />
    </v-card>

    <v-container style="margin-bottom:-62px;">
      <v-row>
        <v-col sm="12">
          <v-card :loading="loading" elevation="24">
            <v-card-text>
              <div class="d-flex">
                <autocomplete-city ref="destination" @enterPressed="saveSearch" outlined />
                <v-btn
                  @click="saveSearch"
                  :loading="loading"
                  class="ml-2 mt-2"
                  icon
                  large
                >
                  <v-icon>mdi-magnify</v-icon>
                </v-btn>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row dense>
        <v-col class="text-center">
          <h1 class="lobster">
            <span class="primary--text">Tripper</span>Bay
          </h1>
          <div>
            Connect with people from across the globe, share new experiences, split travel costs.
          </div>
          <div v-if="!$auth.loggedIn">
            <div class="mt-4 mb-2">
              Sign up now, it's free!
            </div>
            <v-btn
              :to="{ name: 'sign-up' }"
              color="primary"
              nuxt
              large
            >
              Sign Up
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import AutocompleteCity from '~/components/AutocompleteCity.vue'
import VCardCity from '~/components/VCardCity.vue'
import UnsplashCredits from '~/components/UnsplashCredits.vue'

export default {
  name: 'Index',
  components: {
    AutocompleteCity,
    VCardCity,
    UnsplashCredits,
  },
  data () {
    return {
      loading: false,
      images: [],
      hotCities: [],
      carouselHeight: '500px', // already the default
    }
  },
  async mounted () {
    // check if we need to redirect somewhere based on __next
    if (this.$auth.loggedIn) {
      const next = window.localStorage.getItem('__next')
      if (next) {
        window.localStorage.removeItem('__next')
        this.$router.push(next)
      }
    }
    // fetch images
    const collectionSlug = 'index-landscape'
    let url = `/api/unsplash/collection/${collectionSlug}/`
    let response = await this.$axios.get(url)
    this.images = response.data

    // fetch hot cities
    url = '/api/main/group/city/hot/'
    response = await this.$axios.get(url)
    this.hotCities = response.data
  },
  methods: {
    async saveSearch () {
      if (this.$refs.destination.city == null) {
        this.$snack.queue('Please enter a destination')
        this.$refs.destination.focus()
        return
      }

      this.loading = true

      const response = await this.$axios.post('/api/main/search/create/', {
        city: this.$refs.destination.city.id,
      })
      this.$router.push({
        name: 'search-slug',
        params: response.data,
      })

      this.loading = false
    },
  },
}
</script>
