<template>
  <v-container>
    <v-row>
      <v-col class="py-0">
        <v-card flat tile>
          <v-card-title class="justify-center">
            Log into TripperBay
          </v-card-title>
          <v-card-subtitle class="text-center">
            Log in using your TripperBay account or continue with your existing third party accounts
          </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col class="py-0">
        <v-card flat tile>
          <v-card-text>
            <v-text-field
              ref="usernameField"
              v-model="username"
              @keyup.enter="login"
              label="Username"
              outlined
              required
            />
            <v-text-field
              v-model="password"
              @keyup.enter="login"
              @click:append="show1 = !show1"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              label="Password"
              outlined
              required
            />
            <v-btn
              @click="login"
              :disabled="username && password === ''"
              color="primary"
              block
              x-large
            >
              Login
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col class="py-0">
        <v-card flat tile height="100%">
          <v-card-text>
            <v-list>
              <v-list-item-group>
                <v-list-item @click="$auth.loginWith('google')">
                  <v-list-item-avatar>
                    <v-avatar>
                      <v-icon color="red">
                        mdi-google
                      </v-icon>
                    </v-avatar>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      Continue with Google
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item @click="$auth.loginWith('facebook')">
                  <v-list-item-avatar>
                    <v-avatar>
                      <v-icon color="blue darken-2">
                        mdi-facebook
                      </v-icon>
                    </v-avatar>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      Continue with Facebook
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="py-0">
        <v-card flat tile>
          <v-card-actions class="justify-center">
            <v-btn text color="secondary" small>
              Can't log in?
            </v-btn>
          </v-card-actions>
          <v-card-subtitle class="text-center">
            Don't have a TripperBay account?
            <nuxt-link
              :to="{ name: 'sign-up' }"
            >
              Sign Up
            </nuxt-link>
          </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      username: '',
      password: '',
      show1: false,
    }
  },
  mounted () {
    // already logged in ==> redirect to home
    if (this.$auth.loggedIn) {
      this.$router.push({ path: '/' })
    }
    this.$nextTick(() => {
      if (this.$route.query.next) {
        this.$snack.warning('To access that page you need to be logged in')
      }
      this.$refs.usernameField.$refs.input.focus()
    })
  },
  methods: {
    login () {
      this.$auth.loginWith('local', {
        data: {
          username: this.username,
          password: this.password,
        },
      }).then(() => {
        this.$snack.success('Yeah! Welcome back!')
        this.$socket.close() // force reconnection with cookie
      }).catch((error) => {
        if (error.response.status === 400) {
          this.$snack.error('Unable to log you in with the provided credentials')
        }
      })
    },
  },
}
</script>
