<template>
  <v-container class="pa-0">
    <v-row no-gutters>
      <v-col>
        <v-list subheader flat>
          <v-subheader>NOTIFICATIONS</v-subheader>

          <v-list-item v-if="loaded && notifications.results.length == 0">
            <v-list-item-content>
              <v-list-item-title>
                Nothing to see here yet ...
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            v-for="n in notifications.results"
            @click.native="markRead(n)"
            :key="n.id"
            :class="{
              'grey lighten-3': n.unread && !isDark,
              'grey darken-2': n.unread && isDark,
            }"
            :to="getNotificationLink(n)"
            nuxt
          >
            <v-list-item-avatar>
              <img :src="n.actor.image_src"></img>
            </v-list-item-avatar>

            <v-list-item-content>
              <!-- membership -->
              <v-list-item-title v-if="n.verb == 'requested' && n.action_object_content_type.model == 'account' && n.target_content_type.model == 'group'">
                <b>{{ n.actor.user.get_full_name }}</b> requested to join <b>{{ n.target.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else-if="n.verb == 'approved' && n.action_object_content_type.model == 'account' && n.target_content_type.model == 'group'">
                <b>{{ n.actor.user.get_full_name }}</b> approved your request to join <b>{{ n.target.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else-if="n.verb == 'declined' && n.action_object_content_type.model == 'account' && n.target_content_type.model == 'group'">
                <b>{{ n.actor.user.get_full_name }}</b> declined your request to join <b>{{ n.target.name }}</b>
              </v-list-item-title>

              <v-list-item-title v-else-if="n.verb == 'joined' && n.action_object_content_type.model == 'group'">
                <b>{{ n.actor.user.get_full_name }}</b> joined the group <b>{{ n.action_object.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else-if="n.verb == 'accepted' && n.action_object_content_type.model == 'invitation'">
                <b>{{ n.actor.user.get_full_name }}</b> accepted the invitation from <b>{{ n.action_object.created_by.user.get_full_name }}</b> to join the group <b>{{ n.action_object.group.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else-if="n.verb == 'declined' && n.action_object_content_type.model == 'invitation'">
                <b>{{ n.actor.user.get_full_name }}</b> declined the invitation from <b>{{ n.action_object.created_by.user.get_full_name }}</b> to join the group <b>{{ n.action_object.group.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else-if="n.verb == 'upvoted' && n.action_object_content_type.model == 'proposalride'">
                <b>{{ n.actor.user.get_full_name }}</b> up voted a ride share with {{ n.action_object.available_seats }} available seats in <b>{{ n.action_object.group.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else-if="n.verb == 'upvoted' && n.action_object_content_type.model == 'proposalstay'">
                <b>{{ n.actor.user.get_full_name }}</b> up voted an accommodation proposal in <b>{{ n.action_object.group.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else-if="n.verb == 'downvoted' && n.action_object_content_type.model == 'proposalride'">
                <b>{{ n.actor.user.get_full_name }}</b> down voted a ride share with {{ n.action_object.available_seats }} available seats in <b>{{ n.action_object.group.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else-if="n.verb == 'downvoted' && n.action_object_content_type.model == 'proposalstay'">
                <b>{{ n.actor.user.get_full_name }}</b> down voted an accommodation proposal in <b>{{ n.action_object.group.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else-if="n.verb == 'created' && n.action_object_content_type.model == 'proposalride'">
                <b>{{ n.actor.user.get_full_name }}</b> posted a ride share in <b>{{ n.action_object.group.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else-if="n.verb == 'created' && n.action_object_content_type.model == 'proposalstay'">
                <b>{{ n.actor.user.get_full_name }}</b> posted an accommodation proposal in <b>{{ n.action_object.group.name }}</b>
              </v-list-item-title>
              <v-list-item-title v-else>
                <b>{{ n.actor.user.get_full_name }}</b> {{ n.verb }} {{ n.action_object_content_type.model }} {{ n.target_content_type.model }}
              </v-list-item-title>

              <v-list-item-subtitle>
                <timeago :datetime="n.timestamp" :auto-update="60" />
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <infinite-loading
            ref="notificationsInfinite"
            @infinite="notificationsInfinite"
          >
            <div slot="spinner">
              <v-skeleton-loader type="list-item-avatar-two-line" />
              <v-skeleton-loader type="list-item-avatar-two-line" />
              <v-skeleton-loader type="list-item-avatar-two-line" />
            </div>
            <div slot="no-more" />
            <div slot="no-results" />
          </infinite-loading>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'NotificationList',
  middleware: ['auth'],
  data () {
    return {
      loaded: false,
    }
  },
  computed: {
    ...mapState([
      'notifications',
      'isDark',
    ]),
  },
  mounted () {
    if (this.notifications.count_unread !== 0) {
      // mark all notifications as read
      this.$axios.patch('/api/main/account/notifications/mark-as-read/').then((response) => {
        this.$socket.sendObj({
          data: 0,
          account_ids: [this.$auth.user.account.id],
          mutation: 'NOTIFICATIONS_SET_COUNT_UNREAD',
          namespace: null,
        })
      })
    }
  },
  methods: {
    notificationsInfinite ($state) {
      if (this.notifications.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.notifications.next).then((response) => {
        this.$store.commit('NOTIFICATIONS_INFINITE', response.data)
        $state.loaded()
        this.loaded = true
      })
    },
    markRead (n) {
      if (n.unread) {
        this.$socket.sendObj({
          data: n.id,
          account_ids: [this.$auth.user.account.id],
          action: 'notificationMarkRead',
          namespace: null,
        })
      }
    },
    getNotificationLink (n) {
      try {
        // membership requests
        if (n.verb === 'requested' && n.action_object_content_type.model === 'account' && n.target_content_type.model === 'group') {
          return `/group/${n.target.slug}/${n.target.id}#membersPending`
        }

        if (n.action_object && n.action_object_content_type.model === 'group') {
          return `/group/${n.action_object.slug}/${n.action_object.id}`
        } else if (n.target && n.target_content_type.model === 'group') {
          return `/group/${n.target.slug}/${n.target.id}`
        } else {
          return `/group/${n.action_object.group.slug}/${n.action_object.group.id}`
        }
      } catch (e) {
        // eslint-disable-next-line
        console.log(e)
        // eslint-disable-next-line
        console.log(n)
      }
    },
  },
}
</script>
