<template>
  <div>
    <v-container v-if="!$route.params.slug">
      <v-app-bar fixed>
        <v-btn @click="$router.go(-1)" icon>
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <autocomplete-city ref="destination" @enterPressed="saveSearch" solo />
        <v-btn
          @click="saveSearch"
          :loading="loading"
          icon
        >
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </v-app-bar>

      <v-row v-if="!$auth.loggedIn">
        <v-col class="text-center">
          <div class="subtitle-1 mb-1">
            Meet new people, share new experiences, split travel costs. Sign up now, it's free!
          </div>
          <v-btn
            :to="{ name: 'sign-up' }"
            color="primary"
            nuxt
            large
          >
            Sign Up
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <nuxt-child v-else />
  </div>
</template>

<script>
import AutocompleteCity from '~/components/AutocompleteCity.vue'

export default {
  name: 'Search',
  components: {
    AutocompleteCity,
  },
  data () {
    return {
      loading: false,
    }
  },
  watch: {
    '$route' () {
      this.$nextTick(() => {
        // wont be available in nuxt child hence the &&
        this.$refs.destination && this.$refs.destination.$refs.autocomplete.focus()
      })
    },
  },
  mounted () {
    // wont be available in nuxt child hence the &&
    this.$refs.destination && this.$refs.destination.$refs.autocomplete.focus()
  },
  methods: {
    async saveSearch () {
      if (this.$refs.destination.city == null) {
        this.$snack.info('Please enter a destination')
        this.$refs.destination.focus()
        return
      }

      this.loading = true

      const response = await this.$axios.post('/api/main/search/create/', {
        city: this.$refs.destination.city.id,
      })
      this.$router.push({
        name: 'search-slug',
        params: response.data,
      })

      this.loading = false
    },
  },
}
</script>
