<template>
  <v-container>
    <v-row>
      <v-card :loading="loading" width="300px" class="mx-auto" flat tile>
        <v-card-title class="justify-center">
          Create Account
        </v-card-title>
        <v-card-subtitle class="text-center">
          Already have an account?
          <nuxt-link
            :to="{ name: 'login' }"
          >
            Log In
          </nuxt-link>
        </v-card-subtitle>
        <v-card-text>
          <v-text-field
            ref="usernameField"
            v-model="username"
            label="Username"
            required
            outlined
          />
          <v-text-field
            v-model="email"
            label="Email"
            required
            outlined
          />
          <v-text-field
            v-model="password1"
            @click:append="show1 = !show1"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show1 ? 'text' : 'password'"
            label="Password"
            required
            outlined
          />
          <v-text-field
            v-model="password2"
            @click:append="show2 = !show2"
            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show2 ? 'text' : 'password'"
            label="Password again"
            required
            outlined
          />
          <v-btn
            @click="signup"
            :disabled="username && email && password1 && password2 === ''"
            :loading="loading"
            color="primary"
            block
            x-large
          >
            Create Account
          </v-btn>
        </v-card-text>
        <v-card-subtitle class="text-center">
          or continue with
        </v-card-subtitle>
        <v-card-text>
          <v-list>
            <v-list-item-group>
              <v-list-item @click="$auth.loginWith('google')">
                <v-list-item-avatar>
                  <v-avatar>
                    <v-icon color="red">
                      mdi-google
                    </v-icon>
                  </v-avatar>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>
                    Google
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="$auth.loginWith('facebook')">
                <v-list-item-avatar>
                  <v-avatar>
                    <v-icon color="blue darken-2">
                      mdi-facebook
                    </v-icon>
                  </v-avatar>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>
                    Facebook
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
export default {
  components: {
  },
  data () {
    return {
      loading: false,
      username: '',
      email: '',
      password1: '',
      password2: '',
      show1: false,
      show2: false,
    }
  },
  computed: {
    ...mapState([
      'isDark',
    ]),
  },
  mounted () {
    // already logged in ==> redirect to home
    if (this.$auth.loggedIn) {
      this.$router.push({ path: '/' })
    }
    this.$nextTick(() => {
      this.$refs.usernameField.$refs.input.focus()
    })
  },
  methods: {
    signup () {
      this.loading = true
      this.$axios.post('/api/auth/registration/', {
        username: this.username,
        email: this.email,
        password1: this.password1,
        password2: this.password2,
      }).then((response) => {
        this.$auth.loginWith('local', {
          data: {
            username: this.username,
            password: this.password1,
          },
        }).then(() => {
          this.$snack.success('Yeah! Welcome!')
          this.$socket.close() // force reconnection with cookie
          // finally redirect the user
          if (this.$route.query.next) {
            this.$router.push({ path: this.$route.query.next })
          }
        })
      }).catch((error) => {
        _.each(error.response.data, (value, key) => {
          _.each(value, (errorMessage) => {
            this.$snack.error(errorMessage)
            this.loading = false
          })
        })
      })
    },
  },
}
</script>
