<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="8">
        <v-btn @click="$router.go(-1)" color="primary" icon class="mb-2">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>

        <v-card v-if="loading">
          <v-skeleton-loader type="list-item-avatar-two-line" />
          <v-skeleton-loader type="card" />
        </v-card>
        <div v-else>
          <action
            v-for="action in stream.results"
            :key="action.id"
            :action="action"
          />
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import Action from '~/components/Action.vue'

export default {
  components: {
    Action,
  },
  data () {
    return {
      loading: true,
    }
  },
  computed: {
    ...mapState('group', [
      'stream',
    ]),
  },
  watch: {
    'stream.results' (data) {
      if (data.length === 0) {
        // instance was just deleted go back
        this.$router.go(-1)
      }
    },
  },
  created () {
    this.$axios.get(`/api/main/action/${this.$route.params.id}/`).then((response) => {
      // find out the group id

      let groupId = null

      if (response.data.action_object_content_type.model === 'group') {
        groupId = response.data.action_object.id
      } else if (response.data.target_content_type.model === 'group') {
        groupId = response.data.target.id
      }

      this.$store.dispatch('group/fetchObject', groupId).then(() => {
        this.$store.dispatch('group/fetchMembers', groupId).then(() => {
          const stream = {
            next: null,
            results: [response.data],
          }
          this.$store.commit('group/SET_STATE', { key: 'stream', value: stream })
          this.loading = false
        })
      })
    }).catch((error) => {
      if (error.response && error.response.status === 404) {
        return this.$nuxt.error({ statusCode: 404, message: error.message })
      }
    })
  },
}
</script>
