<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    persistent
    no-click-animation
    transition="dialog-bottom-transition"
  >
    <v-card tile>
      <back-bar />
      <v-divider />

      <v-container>
        <v-row>
          <v-col>
            <div class="text-center">
              <h1 class="lobster">
                Trip time!
              </h1>
              <p>Create a group and connect with other likeminded trippers</p>
            </div>

            <v-card elevation="10">
              <v-card-text>
                <autocomplete-city
                  ref="destination"
                  label="Where do you want to go?"
                  class="mb-4"
                  outlined
                />
                <v-menu
                  v-model="date.startShow"
                  :close-on-content-click="false"
                  min-width="290px"
                  offset-y
                  transition="scale-transition"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateStartLabel"
                      v-on="on"
                      hide-details
                      label="Leave by"
                      class="mb-4"
                      outlined
                      prepend-inner-icon="mdi-calendar-range"
                      readonly
                    />
                  </template>
                  <v-date-picker
                    v-model="date.start"
                    :min="date.startMin"
                    no-title
                  />
                </v-menu>
                <v-menu
                  v-model="date.endShow"
                  :close-on-content-click="false"
                  min-width="290px"
                  offset-y
                  transition="scale-transition"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateEndLabel"
                      v-on="on"
                      hide-details
                      label="Return date"
                      class="mb-4"
                      outlined
                      prepend-inner-icon="mdi-calendar-range"
                      readonly
                    />
                  </template>
                  <v-date-picker
                    v-model="date.end"
                    :min="date.endMin"
                    no-title
                  />
                </v-menu>

                <v-autocomplete
                  v-model="selectedInterests"
                  :items="interests"
                  chips
                  item-text="name"
                  item-value="id"
                  label="Trip interests"
                  hide-details
                  multiple
                  outlined
                  prepend-inner-icon="mdi-checkbox-multiple-blank"
                >
                  <template v-slot:selection="data">
                    <v-chip
                      v-bind="data.attrs"
                      @click="data.select"
                      @click:close="remove(data.item.id)"
                      :input-value="data.selected"
                      close
                    >
                      <v-avatar left>
                        <v-img :src="data.item.image.urls.thumb" />
                      </v-avatar>
                      {{ data.item.name }}
                    </v-chip>
                  </template>
                  <template v-slot:item="data">
                    <v-list-item-avatar>
                      <v-img :src="data.item.image.urls.thumb" />
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title v-html="data.item.name" />
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  @click="createGroup"
                  :loading="loading"
                  color="primary"
                >
                  Create
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import moment from 'moment'
import { mapState } from 'vuex'

import AutocompleteCity from '~/components/AutocompleteCity.vue'
import BackBar from '~/components/BackBar.vue'

export default {
  name: 'GroupCreate',
  middleware: ['auth'],
  components: {
    AutocompleteCity,
    BackBar,
  },
  data () {
    return {
      dialog: false,
      loading: false,
      selectedInterests: [],
      date: {
        start: '',
        startMin: moment().format('YYYY-MM-DD'),
        startShow: false,
        end: '',
        endMin: moment().format('YYYY-MM-DD'),
        endShow: false,
      },
    }
  },
  computed: {
    ...mapState([
      'interests',
    ]),
    dateStartLabel () {
      if (this.date.start === '') {
        return ''
      }
      return moment(this.date.start).format('dddd, Do of MMM')
    },
    dateEndLabel () {
      if (this.date.end === '') {
        return ''
      }
      return moment(this.date.end).format('dddd, Do of MMM')
    },
  },
  watch: {
    'date.start' (val) {
      this.date.endMin = moment(val).add(1, 'days').format('YYYY-MM-DD')
      this.date.end = ''

      this.date.startShow = false
      this.date.endShow = true
    },
    'date.end' (val) {
      if (val === '') {
        return
      }
      this.date.startShow = false
      this.date.endShow = false
    },
  },
  mounted () {
    this.dialog = true
  },
  beforeDestroy () {
  },
  methods: {
    createGroup () {
      if (this.$refs.destination.city == null) {
        this.$snack.queue('Please enter a destination')
        this.$refs.destination.focus()
        return
      }
      if (this.date.start === '') {
        this.$snack.queue('Please choose leave date')
        this.date.startShow = true
        return false
      }
      if (this.date.end === '') {
        this.$snack.queue('Please choose return date')
        this.date.endShow = true
        return false
      }
      if (this.selectedInterests.length === 0) {
        this.$snack.queue('You have to select at least one travel interest')
        return false
      }
      this.loading = true
      this.$axios.post('/api/main/group/create/', {
        city: this.$refs.destination.city.id,
        name: this.$refs.destination.city.display_name,
        interests: this.selectedInterests,
        starts_at: this.date.start,
        ends_at: this.date.end,
      }).then((response) => {
        this.loading = false
        this.$router.push({
          name: 'group-slug-id',
          params: {
            id: response.data.id,
            slug: response.data.slug,
          },
        })
        this.$socket.sendObj({
          data: response.data,
          account_ids: null,
          mutation: 'OBJECT_CREATE',
          namespace: 'explore',
        })
      })
    },
    remove (item) {
      const index = this.selectedInterests.indexOf(item)
      if (index >= 0) {
        this.selectedInterests.splice(index, 1)
      }
    },
  },
}
</script>
