<template>
  <div>
    <v-container class="pa-0">
      <v-tabs ref="tabs" v-model="tab" grow>
        <v-tab>
          Upcoming
        </v-tab>
        <v-tab>
          Pending
        </v-tab>
        <v-tab>
          Past
        </v-tab>
      </v-tabs>
      <v-tabs-items ref="tabsItems" v-model="tab" class="scroll-y">
        <v-tab-item>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>
                      Upcoming trips
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{ objectsUpcoming.count }} total
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                v-for="object in objectsUpcoming.results"
                :key="object.id"
                cols="12"
                sm="6"
                md="4"
              >
                <v-card-group :object="object" />
              </v-col>
            </v-row>

            <v-row v-if="objectsUpcoming.loaded && objectsUpcoming.count === 0">
              <v-col class="text-center">
                <div class="mb-4">
                  There are no upcoming trips.
                  <br>
                  Explore TripperBay and connect with other likeminded trippers.
                </div>
                <v-btn nuxt to="/explore" color="primary">
                  Explore
                </v-btn>
              </v-col>
            </v-row>

            <infinite-loading ref="obectsUpcomingInfinite" @infinite="objectsUpcomingInfinite">
              <v-col slot="spinner" cols="12" sm="6" md="4">
                <v-skeleton-loader type="image" tile />
                <v-skeleton-loader type="list-item-two-line" />
                <v-skeleton-loader type="chip" class="ml-4" />
              </v-col>
              <div slot="no-more" />
              <div slot="no-results" />
            </infinite-loading>
          </v-container>
        </v-tab-item>
        <v-tab-item>
          <v-container>
            <v-row>
              <v-col>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>
                      Pending membership
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{ objectsPending.count }} total
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-card>
                  <v-list v-if="objectsPending.results.length">
                    <v-list-item
                      v-for="object in objectsPending.results"
                      :key="object.id"
                      :to="`/group/${object.slug}/${object.id}`"
                      class="pa-0"
                      nuxt
                    >
                      <v-list-item-avatar tile size="70" class="mx-2">
                        <v-img :src="object.image.urls.thumb" />
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title>
                          {{ object.name }}
                        </v-list-item-title>
                        <v-list-item-subtitle>
                          <div>
                            {{ object.city.display_name }}
                          </div>
                          <div>
                            {{ object.starts_at|formatDate("MMM Do") }}
                            <v-icon>mdi-circle-small</v-icon>
                            {{ object.ends_at|formatDate("MMM Do") }}
                          </div>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>

                  <infinite-loading ref="obectsPendingInfinite" @infinite="objectsPendingInfinite">
                    <div slot="spinner">
                      <v-timeline align-top dense>
                        <v-timeline-item small hide-dot>
                          <v-skeleton-loader type="card-heading" />
                        </v-timeline-item>
                      </v-timeline>
                    </div>
                    <div slot="no-more" />
                    <div slot="no-results" />
                  </infinite-loading>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-tab-item>
        <v-tab-item>
          <v-container>
            <v-row>
              <v-col>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>
                      Past trips
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{ objectsExpired.count }} total
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-card>
                  <v-list v-if="objectsExpired.results.length">
                    <v-list-item
                      v-for="object in objectsExpired.results"
                      :key="object.id"
                      :to="`/group/${object.slug}/${object.id}`"
                      class="pa-0"
                      nuxt
                    >
                      <v-list-item-avatar tile size="70" class="mx-2">
                        <v-img :src="object.image.urls.thumb" />
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title>
                          {{ object.name }}
                        </v-list-item-title>
                        <v-list-item-subtitle>
                          <div>
                            {{ object.city.display_name }}
                          </div>
                          <div>
                            {{ object.starts_at|formatDate("MMM Do") }}
                            <v-icon>mdi-circle-small</v-icon>
                            {{ object.ends_at|formatDate("MMM Do") }}
                          </div>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>

                  <infinite-loading ref="obectsExpiredInfinite" @infinite="objectsExpiredInfinite">
                    <div slot="spinner">
                      <v-timeline align-top dense>
                        <v-timeline-item small hide-dot>
                          <v-skeleton-loader type="card-heading" />
                        </v-timeline-item>
                      </v-timeline>
                    </div>
                    <div slot="no-more" />
                    <div slot="no-results" />
                  </infinite-loading>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-tab-item>
      </v-tabs-items>
    </v-container>
  </div>
</template>

<script>
import VCardGroup from '~/components/VCardGroup.vue'

export default {
  name: 'GroupList',
  middleware: ['auth'],
  components: {
    VCardGroup,
  },
  data () {
    return {
      tab: null,
      objectsUpcoming: {
        results: [],
        next: '/api/main/group/list/',
        count: null,
        loaded: false,
      },
      objectsPending: {
        results: [],
        next: '/api/main/group/list/?pending',
        count: null,
      },
      objectsExpired: {
        results: [],
        next: '/api/main/group/list/?expired',
        count: null,
      },
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.setHeights()
      window.addEventListener('resize', this.setHeights)
    })
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.setHeights)
  },
  methods: {
    setHeights () {
      if (process.browser) {
        const main = this.$root.$refs.default.$refs.content.$el
        let header = window.getComputedStyle(main).getPropertyValue('padding-top')
        header = header.slice(0, -2)
        let footer = window.getComputedStyle(main).getPropertyValue('padding-bottom')
        footer = footer.slice(0, -2)

        this.$refs.tabsItems.$el.style.height = (
          window.innerHeight -
          this.$refs.tabsItems.$el.offsetTop -
          Number(header) -
          Number(footer)
        ) + 'px'
      }
    },
    objectsUpcomingInfinite ($state) {
      if (this.objectsUpcoming.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.objectsUpcoming.next).then((response) => {
        this.objectsUpcoming.results.push(...response.data.results)
        this.objectsUpcoming.next = response.data.next

        if (!this.objectsUpcoming.count) {
          this.objectsUpcoming.count = response.data.count
        }
        $state.loaded()
        this.objectsUpcoming.loaded = true
      })
    },
    objectsPendingInfinite ($state) {
      if (this.objectsPending.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.objectsPending.next).then((response) => {
        this.objectsPending.results.push(...response.data.results)
        this.objectsPending.next = response.data.next

        if (!this.objectsPending.count) {
          this.objectsPending.count = response.data.count
        }
        $state.loaded()
      })
    },
    objectsExpiredInfinite ($state) {
      if (this.objectsExpired.next == null) {
        $state.complete()
        return
      }
      this.$axios.get(this.objectsExpired.next).then((response) => {
        this.objectsExpired.results.push(...response.data.results)
        this.objectsExpired.next = response.data.next

        if (!this.objectsExpired.count) {
          this.objectsExpired.count = response.data.count
        }
        $state.loaded()
      })
    },
  },
}
</script>
